.demo-section .video-box-wrapper {

	text-align: center;

	color: #fff;

	padding: 20px;

	background: rgb(107, 136, 222);

	background: linear-gradient(to left, #8e00fe, #7015fe);

	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), ;

	border-radius: 20px;

	position: relative;

}

.banner_btn11 {


	margin-bottom: 20px;
	background: url('/images/jv/textimage.png')no-repeat center/contain;
	  background-size: contain;
	backdrop-filter: blur(5px);
	font-weight: 600;
	display: inline-block;
	padding: 10px;
	background-size: 100% 100%;
  }

.content-wrapper::before {

	z-index: -1;

	inset: 0;

	padding: 3px;

	border-radius: 30px;

	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);

	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);

	mask-composite: add, add;

	-webkit-mask-composite: xor;

	mask-composite: exclude;



	background: linear-gradient(135deg, rgba(0, 255, 209, 1) 0%, rgba(0, 178, 255, 0.5) 100%);

}



.content-wrapper {

	background: linear-gradient(45deg, rgba(0, 148, 255, 0.75) 0%, rgba(0, 21, 36, 0.75) 30%, rgba(0, 0, 0, 0.75) 100%);

	max-width: 1120px;

	border-radius: 30px;

	margin: 0 auto 50px;

	border: 3px solid rgba(0, 255, 209, 1);

	/* border: 3px solid rgba(0,178,255,0.5) ; */

}



@media screen and (max-width: 1500px) {

	.content-wrapper {

		max-width: 1000px;

	}

}







@media screen and (max-width: 1680px) {

	.prize-section .colmn-2 .img-wrapper {

		transform-origin: 50% 105%;

	}

}



@media screen and (max-width: 1680px) {

	.prize-section .colmn-2 .img-wrapper {

		transform-origin: 50% 105%;

	}

}





.prize-section .colmn-2 .img-wrapper {

	scale: 1.1;

	/* transform-origin: -10% 105%; */

}



@media screen and (max-width: 768px) {

	.prize-section .colmn-2 .img-wrapper {

		scale: none;

		/* transform-origin: -10% 105%; */

	}



	.content-wrapper {

		padding: 18px 0 0 30px;

	}









}





.s8 {

	background: url(/images/jv/section29.png);

	background-position-x: 0%;

	background-position-y: 0%;

	background-repeat: repeat;

	background-attachment: scroll;

	background-size: auto;

	background-position-x: 0%;

	background-position-y: 0%;

	background-repeat: repeat;

	background-size: auto;

	background-size: cover;

	background-repeat: no-repeat;

	background-position: top;

	background-attachment: fixed;

	padding: 70px 0 0px 0;



}



.grad-txt-v2 {

	color: rgb(253, 147, 95);

}



.s8 .content:not(:last-child) {

	margin-bottom: 25px;

}



@media screen and (max-width: 1500px) {

	.s8 .content {

		max-width: 800px;

	}

}



.s8 .content {

	display: flex;

	background: rgba(0 0 0/90%);

	border: 2px solid #76CEFF;

	padding: 25px;

	border-radius: 25px;

	max-width: 900px;

	margin: 0 auto;

	margin-bottom: 0px;

}



.s8 .content .img-wrapper {

	flex: 0 0 110px;

	margin-right: 100px;

	top: 15px;

}



@media screen and (max-width: 1680px) {

	.s8 .content .img-wrapper {

		flex: 0 0 70px;

		margin-right: 50px;

	}

}



.next-section {

	background: #ffffff;

	padding: 30px 0px;

}



@media (min-width: 768px) {

	.next-section {

		padding: 100px 0px;

		background: #ffffff url(/images/jv/next-bg.html) no-repeat bottom right;

	}

}



.next-list {

	background: #E1EFF9;

	box-shadow: 0px 0px 6px 4px rgba(86, 108, 123, 0.1);

	border-radius: 15px;

	padding: 15px;

	margin-top: 25px;

}



.underline {

	border-bottom: solid 2px #fe0000;

}
.underline1{
	border-bottom: solid 2px #fed500;
}


.dark-red {

	color: #fe0000;

}



.postheadline {

	background: #0175FF;

	border-radius: 100px;

	display: inline-flex;

	align-items: center;

	padding: 5px 15px;

}



@media (min-width: 768px) {

	.postheadline {

		padding: 13px 42px;

	}

}



.green-color {

	color: #0cad1b;

}



.highlight11 {

	background: #F9D780;

	border-radius: 10px;

	transform: rotate(-0.22deg);

	display: inline-block;

	padding: 5px 10px;

}


.banner_btn5 {

	display: inline-block;

	/* padding: 10px 80px;

	width: 100%;

	border-radius: 16px;

	font-family: 'Outfit', sans-serif;

	font-size: 25px;

	line-height: 1.5;

	color: #fff;

	margin-bottom: 20px; */

	background: url('/images/jv/brush1.png')no-repeat center/contain;

	backdrop-filter: blur(5px);

	/* font-weight: 600; */

	display: inline-block;

	padding: 30px;

	background-size: 100% 100%;

}


.banner_btn2 {

	display: inline-block;

	/* padding: 10px 80px;

	width: 100%;

	border-radius: 16px;

	font-family: 'Outfit', sans-serif;

	font-size: 25px;

	line-height: 1.5;

	color: #fff;

	margin-bottom: 20px; */

	background: url('/images/jv/textimage.png')no-repeat center/contain;

	backdrop-filter: blur(5px);

	/* font-weight: 600; */

	display: inline-block;

	padding: 50px;

	background-size: 100% 100%;

}





.banner_btn3 {

	display: inline-block;

	/* padding: 10px 80px;

	width: 100%;

	border-radius: 16px;

	font-family: 'Outfit', sans-serif;

	font-size: 25px;

	line-height: 1.5;

	color: #fff;

	margin-bottom: 20px; */

	background: url('/images/jv/shape1.png')no-repeat center/contain;

	backdrop-filter: blur(5px);

	/* font-weight: 600; */

	display: inline-block;

	padding: 10px 41px 15px 40px;

	background-size: 100% 100%;

}



/* {

	background-image: linear-gradient(0deg,rgb(0, 31, 254) 0%, rgb(117, 1, 254) 100%);

} */

.head-block {

	border-width: 13px;

	border-color: #07b207;

	border-color: #560bad;

	border-style: double;

	border-radius: 8px;

	background-color: rgb(0, 13, 80);

	box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);

	position: relative;

	color: #fff;

}



.head-block-des {

	padding: 20px;

	text-align: center;

	background: #88c93a;

}



.head-block-title {

	padding: 20px;

	text-align: center;

}



.gradient-text {

	-webkit-text-fill-color: transparent;



	background-image: -webkit-linear-gradient(0deg, #fe7716, #b11fde);

	background-repeat: repeat;

	-webkit-background-clip: text;

}



.gradient-text1 {

	-webkit-text-fill-color: transparent;

	border-bottom: 1px solid;

	border-image: -webkit-linear-gradient(0deg, #fe7716, #b11fde);

	border-image-slice: 100%;

	border-image-slice: 1;

	background-image: -webkit-linear-gradient(0deg, #fe7716, #b11fde);

	background-repeat: repeat;

	-webkit-background-clip: text;

}





@media only screen and (min-width: 960px) {

	.d244 {

		left: calc(50% + 529px);

		width: 148px;

		height: 264px;

	}

}



@media only screen and (min-width: 960px) {

	.d236 {

		top: 0;

	}

}



.form_iamge {

	margin-top: 0px;

	text-align: center;

}



.elAlign_center {

	text-align: center;

}



/* ul.point-lists {

		margin: 0px;

		padding: 0px;

	  }

	  ul.point-lists .list {

	

		background: url('/images/jv/checked-3.png') no-repeat top left;

		  background-position-x: left;

		  background-position-y: top;

		padding-left: 30px;

		margin-bottom: 20px;

		background-position: 0px 3px;

		min-height: 30px;

	  } */


.list {

	background-image: url(/images/jv/checked-3.png);

	background-repeat: no-repeat;

	background-size: 30px;

	padding-left: 50px;

	padding-bottom: 0px;

	padding-top: 1px;

	font-weight: 400;

	list-style-type: none;

	color: #000;

}

.text-yallows{
	color: #f8c80c;
}

.banner_btn4 {

	display: inline-block;

	padding: 10px 80px;

	width: 100%;

	border-radius: 16px;

	font-family: 'Outfit', sans-serif;



	line-height: 1.5;

	color: #fff;

	margin-bottom: 20px;

	background: url('/images/jv/brush.png')no-repeat center/contain;

	background-size: contain;

	backdrop-filter: blur(5px);

	font-weight: 600;

	display: inline-block;

	padding: 10px 41px 15px 40px;

	background-size: 100% 100%;

}



#section31 .feature1 {

	background-color: rgb(0, 123, 255);

	padding: 40px;

	border-radius: 40px;

	box-shadow: 10px 10px #07096c;

}



.inside-section .wrapper {

	/* background-color: #FFF;

	border-radius: 20px;

	border: 1px solid #b5023a;

	box-shadow: 3px 8px 20px -14px rgba(0, 0, 0, 0.69);

	padding: 20px; */



	border-radius: 20px;

	background-color: rgb(255, 255, 255);

	box-shadow: 0px 0px 24px 0px rgba(15, 17, 71, 0.1);

	padding: 0px 20px 20px 20px;

	height: calc(100% - 130px);



	margin-top: 130px;

}
/* .welcome-section .video-box-wrapper {
	text-align: center;
	color: #fff;
	padding: 20px;
	background: rgb(107, 136, 222);
	background: linear-gradient(to left, #8e00fe, #7015fe);
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),;
	border-radius: 20px;
	position: relative;
  } */


  /* .welcome-section .video_container {
	position: relative;
	width: 954px;
	height: 531px;
	background-image: url(/images/jv/);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
  } */
  .laptop_bg {
	width: 100%;
  }
 
  .video-container iframe {
	position: absolute;
	top: -1.9%;
	left: 3%;
	width: 76%;
	height: 82%;
  }
  .laptop_bg1 {
	position: relative;
	top: 32px;
	z-index: 999;
	background: url(/images/jv/mac-book.png) 0% 0% / 100% 100% no-repeat;
	  background-repeat: no-repeat;
	margin: 0px auto;
	background-repeat: no-repeat;
  }
  .video-container {
	position: relative;
	padding-bottom: 53%;
	height: 0px;
	overflow: hidden;
  }
  .you1 {
	width: 79%;
	height: 92%;
	margin-top: 4%;
	margin-left: 9%;
	border: 0px;
  }



  /* .laptop and  */

  .script_reel_skewbox {
	background: #9939f9;
	transform: skew(-17deg);
	border-radius: 10px;
  }


  .promo-inner-sec {
	padding: 40px 20px 40px 20px;
	border-radius: 15px;
	background-image: -moz-linear-gradient( 0deg, rgb(242, 236, 255) 0%, rgb(249, 246, 255) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(242, 236, 255) 0%, rgb(249, 246, 255) 100%);
  }
  a.promo-link {
	border: solid 1px rgb(104, 42, 241);
	background: transparent;
	max-width: 100%;
	padding: 15px 30px;
	border-radius: 65px;
	color: #682af1;
	display: block;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
  }
  a.promo-link:hover {
	border: solid 1px #682af1;
	background: #682af1;
	color: #ffffff;
  }

.price{
	background-image: url(/images/jv/poio.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0 50px 0;
	background-position: top center;
}
  .lunch-date {
	background-image: url(/images/jv/launch.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 1px 0 0 0;
  }
  .launch-details {
	background-color: #010040;
	padding: 15px 20px;
	margin-top: 50px;
	margin-left: 40px;
	border: 3px solid #ffc500;
	border-radius: 5px;
  }
  /* .mt-11 {
	margin-top: 11rem;
  } */
  /* .launch-details {
	background-color: #010040;
	padding: 15px 20px;
	margin-top: 65px;
	margin-left: 40px;
	border: 3px solid #ffc500;
	border-radius: 5px;
  } */



  .launch-details p {
	font-size: 18px;
	color:#fff;
	text-transform: capitalize;
	/* margin-bottom: -20px;
	margin-left: -60px; */
	font-weight: 600;
  }
  .launch-details p {
	font-size: 18px;
	color:#fff;
	text-transform: capitalize;
	/* margin-bottom: -20px;
	margin-left: -60px; */
	font-weight: 600;
  }
  .banner p {
	color:#fff;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
	  margin-bottom: 0px;
	  margin-left: auto;
  }
  .lunch-date h2 {
	font-size: 30px;
	font-weight: 600;
	color: #ffc500;
	
  }
  .lunch-date h2 img {
	width: 70px;
	vertical-align: middle;
	padding-right: 15px;
  }
  .lunch-date h2 span {
	font-size: 18px;
	vertical-align: -webkit-baseline-middle;
  }

  .btn-banner {
	box-shadow: 0px 0px 20px 0px #f8c80c;
	color: #fff;
	border-width: 2px;
	border-style: solid;
	background-color: #294377;
	border-color: #d2ffff;
	background-image: linear-gradient(0deg, rgb(250, 120, 0) 0%, rgb(247, 229, 17) 100%);
	background: linear-gradient(to left, #429540, #8bbc44, #3e9340);
	box-shadow: 0 6px 1px #73af43;
	-webkit-border-radius: 15px 0 15px 0px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	color: #fff;
	text-align: center;
	border: 2px solid #fff;
	padding: 4% 1%;
  }
  .promo-section .img-box{
	padding: 20px;
  }



  #section-8 {
	color: #fff;
	padding: 80px 0 0 0;
	/* background: #000000; */
	background: linear-gradient(to bottom, #fff 0%,#fff 100%);
	/* background: -moz-linear-gradient(top, #000000 0%, #00080f 100%);
	background: -webkit-linear-gradient(top, #000000 0%,#00080f 100%);
	background: linear-gradient(to bottom, #000000 0%,#00080f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00080f',GradientType=0 ); */
  }
  #section-8 .title-area {
	margin-bottom: 220px;
  }
  @media screen and (max-width: 1500px){
	#section-8 .title-area {
		margin-bottom: 150px;
	  }
  }
  #section-8 .colmn:not(:nth-child(n+13)) {
	margin-bottom: 150px;
  }
  #section-8 .colmn {
	background: #19a5b8;
	background: -moz-linear-gradient(top, #19a5b8 0%, #18d780 100%);
	background: -webkit-linear-gradient(top, #19a5b8 0%,#18d780 100%);
	background: linear-gradient(to bottom, #19a5b8 0%,#18d780 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a5b8', endColorstr='#18d780',GradientType=0 );
	border-radius: 50px;
	padding: 4px;
	flex: 0 0 33.33%;
	max-width: 31%;
	position: relative;
  }
  #section-8 .colmn .wrapper {
	background: #0c0e15;
	border-radius: 47px;
	padding: 170px 40px 0px;
	height: 100%;
  }
  @media screen and (max-width: 1500px){
	#section-8 .colmn .wrapper {
		padding: 120px 20px 0px;
	  }
  }

  #section-8 .wrapper .content-img {
	padding: 5px;
	max-width: max-content;
	border-radius: 300px;
	position: absolute;
	left: 0;
	right: 0;
	top: -108px;
	background: #199dc0;
	background: -moz-linear-gradient(top, #199dc0 45%, #0c0e15 45%);
	background: -webkit-linear-gradient(top, #199dc0 45%,#0c0e15 45%);
	background: linear-gradient(to bottom, #199dc0 45%,#0c0e15 45%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#199dc0', endColorstr='#0c0e15',GradientType=0 );
  }
  @media screen and (max-width: 1500px){
	#section-8 .wrapper .content-img {
		top: -81px;
	  }
  }
  #section-8 .wrapper .content-img-wrapper {
	background: #0c0e15;
	border-radius: 300px;
	padding: 15px;
  }
  #section-8 .colmn.bg .img-wrapper {
	background: #199ebf;
	background: -moz-linear-gradient(top, #199ebf 0%, #18d681 100%);
	background: -webkit-linear-gradient(top, #199ebf 0%,#18d681 100%);
	background: linear-gradient(to bottom, #199ebf 0%,#18d681 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#199ebf', endColorstr='#18d681',GradientType=0 );
  }

  /* #section-8 .colmn:nth-child(-n+3) .img-wrapper {
	background: blue;
  } */

  #section-8 .wrapper .img-wrapper {
	height: 200px;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: red;
	border-radius: 300px;
  }
  #section-8 .wrapper .content-img-wrapper {
	background: #0c0e15;
	border-radius: 300px;
	padding: 15px;
  }
  #section-8 .colmn.bs .img-wrapper {
	background: #000000;
	background: -moz-linear-gradient(top, #000000 0%, #1b637e 100%);
	background: -webkit-linear-gradient(top, #000000 0%,#1b637e 100%);
	background: linear-gradient(to bottom, #000000 0%,#1b637e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1b637e',GradientType=0 );
  }
  @media screen and (max-width: 1500px){
	#section-8 .wrapper .img-wrapper {
		height: 150px;
		width: 150px;
	  }
  }
  #section-8 .wrapper .title {
	height: 70px;
	line-height: 1.2;
  }
  @media screen and (max-width: 1500px){
	.md-txt {
		font-size: 18px;
	  }
	
  }
  @media screen and (max-width: 1500px){
	#section-8 p.desc {
		font-size: 16px;
		line-height: 1.6;
	  }
	  
	  
  }

  @media screen and (max-width: 1199px){
	#section-8 .colmn {
		flex: 0 0 50%;
		max-width: 48%;
	  }
  }
 
	@media screen and (max-width: 1199px){
  #section-8 .colmn:not(:nth-child(n+15)) {
	margin-bottom: 150px;
  }
}
@media screen and (max-width: 991px){
	#section-8 .colmn:not(:nth-child(n+15)) {
	  margin-bottom: 130px;
	}
  }
  #section-8 .colmn:not(:nth-child(n+13)) {
	margin-bottom: 150px;
  }
  @media screen and (max-width: 440px){

 
	#section-8 .colmn:not(:nth-child(n+15)) {
	  margin-bottom: 110px;
	}
  }
  
	@media screen and (max-width: 440px){
  #section-8 .colmn {
	max-width: 100%;
  }
}
	@media screen and (max-width: 991px){
  #section-8 .colmn {
	flex: 0 0 100%;
	max-width: 100%;
  }
}



  @media (min-width: 768px) {
	.features-bg {
		background-image: url(/images/jv/box-sect-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding: 90px 0 100px 0;
	  }
  }
  @media (max-width: 768px) {
	.features-bg {
		background-image: url(/images/jv/box-sect-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding: 30px 0 20px 0;
	  }
  }
  

.item-box {
	text-align: center;
	padding: 20px 40px;
	border: 1px solid #fff;
	background-color: #121426;
	transform: skew(360deg, 0deg);
	border-radius: 7px;
	margin: 0 auto;
	flex-basis: 43%;
	background: linear-gradient(180deg, #8000FF 0%, #060606 100%);
	height: 100%;
  }
  .item-box img {
	width: 120px;
  }
  .item-box .icon{
	padding: 15px;
  }
  .item-box h4 {
	color: #fef4c5;
	font-size: 30px;
  }
  .item-box p {
	color: #fed82d;
	padding-top: 10px;
	font-size: 20px;
	line-height: 30px;
  }

  .step-bg {
	background-image: url(../img/steps-bg.html);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 0;
	  padding-right: 0px;
	  padding-left: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .step {
	background-image: url(/images/jv/step-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -55px;
	z-index: 1;
	border: 4px solid #0cad1b;
	border-style: inset;
  }


  .step-bg h2 {
	background-image: url(/images/jv/step-heading-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px 80px;
	font-weight: 700;
	z-index: 9;
	color: var(--black-color);
	text-align: center;
  }
  .step h3 {
	background-image: url(/images/jv/step-Color-Fill-1.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 8px 65px;
	font-weight: 700;
	color: var(--black-color);
	margin-top: 50px;
  }
  .guiedline {
	max-width: 1200px;
	width: 100%;
	
  }
  .step-1-cont img {
	width: 200px;
	margin-bottom: 20px;
  }
  .step-1-cont img {
	width: 200px;
	margin-bottom: 20px;
  }
  .step-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
  }
  /* .step-1-cont {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	width: 100%;
  } */
  .step-1-cont p {
	color: #bae8f6;
	font-weight: 600;
	font-size: 20px;
  }
  .step-inner {
	/* display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px; */
	padding: 40px 80px;
  }
  .step-inner:nth-child(3) {
	border-top: 2px solid #f37b00;
	border-bottom: 2px solid #f37b00;
  }

  .affliate-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #131313;
	border: 2px dashed #fe5847;
	padding: 20px 60px;
  }
  .affliate-link-box-1 {
	justify-content: center;
	display: flex;
	margin-top: 60px;

	left: 0;
	right: 0;
  }
  .cmn-btn:hover {
	background-color: #f60;
  }
  .cmn-btn {
	font-size: 40px;
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 15px;
	background-color: #fe5847;
	transition: 0.5s ease-out;
	color: #fff;
  }
  .cmn-btn {
text-decoration: none;
  }

  .affliate-cont h2 {
	color: #ffc500;
	font-size: 55px;
	font-weight: 800;
	padding-bottom: 5px;
  }
  .affliate-cont p {
	width: auto;
	padding-bottom: 15px;
	color: #fff;
	font-size: 28px;
  }
  .ai-com-bg{
	padding: 50px;
  }

  
 @media (min-width: 1200px) {
	.videosectoin{
		/* border: 20px solid #fff;
	  border-radius: 12px; */
	 
	  background: url(/images/jv/frame-demo.png) no-repeat;
	  background-size: auto;
	  background-size: 100% 100%;
	  
	  padding: 20PX 22px 20px 22px;
	}
	}
	@media (max-width: 1200px) {
		.videosectoin{
			/* border: 20px solid #fff;
		  border-radius: 12px; */
		 
		  background: url(/images/jv/frame-demo.png) no-repeat;
		  background-size: auto;
		  background-size: 100% 100%;
		  padding: 30PX 30px 30px 30px;
		}
		}
	@media (max-width: 991px) {
	
	.videosectoin{
		/* border: 20px solid #fff;
	  border-radius: 12px; */
	 
	  background: url(/images/jv/frame-demo.png) no-repeat;
	  background-size: auto;
	  background-size: 100% 100%;
	  padding: 30PX 30px 30px 30px;
	}
	
	}
	@media (max-width: 576px) {
		.videosectoin {
		  /* border: 20px solid #fff;
		  border-radius: 12px; */
		  background: url(/images/jv/frame-demo.png) no-repeat;
		  background-size: auto;
		  background-size: auto;
		  background-size: 100% 100%;
		  padding: 10PX 10px 10px 10px;
		}
	  }
	  @media (max-width: 400px) {
		.videosectoin {
	
		  background: url(/images/jv/frame-demo.png) no-repeat;
		  background-size: auto;
		  background-size: auto;
		  background-size: auto;
		  background-size: 100% 100%;
		  padding: 10PX 10px 10px 10px;
		}
	  }

	  

	  
  .form-bg {
	border-radius: 0px 0px 20px 20px;

	background: #7159ff;
	padding: 15px;
  }
  @media (min-width: 768px) {
	.form-bg {
	  padding: 40px 115px;
	  position: relative;
	}
  }

  @media (min-width: 768px) {
	.form-bg::before {
	  position: absolute;
	  content: url('/images/jv/top-bell.png');
	  top: 10px;
	  right: 10px;
	}
  }

  
@media (min-width: 768px) {
	.form-bg::after {
	  position: absolute;
  
	  content: url('/images/jv/bottom-bell.png');
  
	  bottom: 10px;
  
	  left: 10px;
  
	}
  }


  @media (min-width: 768px) {
	.jv-form {
	  display: grid;
	  gap: 20px;
	  grid-template-columns: auto auto auto;
	}
  }
  .jv-form input {
	background: #FFFFFF;
	border-radius: 10px;
	padding: 10px 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #000000;
	outline: none;
	box-shadow: none;
	width: 100%;
	margin-bottom: 20px;
  }

  @media (min-width: 768px) {
	.jv-form input {
	  font-size: 18px;
	  margin-bottom: 0px;
	}
  }

  .jv-form input[type="submit"]:hover {
	background: linear-gradient(180deg, #FF7A00 0%, #FFF500 100%);
	border: 1px solid #000000;
  }

  .jv-form input[type="submit"] {
	display: inline-block;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: center;
	border-radius: 10px;
	background: linear-gradient(180deg, #FFF500 0%, #FF7A00 100%);
	border: none;
  }


  

a.get-link {

	border-radius: 10px;

	background-image: -moz-linear-gradient(-45deg, rgb(58, 67, 208) 0%, rgb(108, 116, 247) 100%);

	background-image: -webkit-linear-gradient(-45deg, rgb(58, 67, 208) 0%, rgb(108, 116, 247) 100%);

	background-image: -ms-linear-gradient(-45deg, rgb(58, 67, 208) 0%, rgb(108, 116, 247) 100%);

	padding: 12px 35px;

	display: inline-block;

	font-size: 18px;

	font-weight: 600 !important;

	color: #ffffff;

	text-decoration: none;

	text-align: center;

}



a.get-link:hover {

	background-image: -moz-linear-gradient(90deg, rgb(108, 116, 247) 100%, rgb(58, 67, 208) 0%);

	background-image: -webkit-linear-gradient(90deg, rgb(108, 116, 247) 100%, rgb(58, 67, 208) 0%);

	background-image: -ms-linear-gradient(90deg, rgb(108, 116, 247) 100%, rgb(58, 67, 208) 0%);

}



.option-form {

	padding: 30px 20px;

	border-width: 6px;

	border-color: rgb(78, 88, 255);

	border-style: solid;

	border-radius: 20px;

	background-color: #fff;

	/* background-color: rgba(19, 17, 27, 0.2); */

	box-shadow: 0px 4px 30px 0px rgb(78 88 255 / 20%);

}

.option-form1 {

	padding: 30px 20px;
	border-width: 6px;
	border-color: rgb(255, 197, 0);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(57, 186, 236);
	/* background-color: rgba(19, 17, 27, 0.2); */
	box-shadow: 0px 4px 30px 0px rgb(78 88 255 / 20%);

}

.btn-banner1:hover {
	color: #fff !important;
	background: #fa6400;
	border: 2px solid #fa6400;
	text-decoration: none;
  }
  .btn-banner1 {
	background: #fa6400;
	border: 2px solid #fa6400;
	color: #fff !important;
	padding: 10px;
	/* border-top-left-radius: 3000px;
	border-top-right-radius: 3000px;
	border-bottom-left-radius: 3000px;
	border-bottom-right-radius: 3000px; */
	/* background: linear-gradient(180deg, #FF7A00 0%, #FFF500 100%); */
  }


  .features-box {
	border-radius: 10px;
	background: #000000;
	padding: 15px;
	height: 100%;
	color: #fff !important;
  }


.form-control,

.form-control:focus {

	height: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 20px;
  box-shadow: none;
  /* margin-bottom: 30px; */
  border-width: 1px;
  border-color: rgb(148, 143, 168);
  border-style: solid;
  border-radius: 10px;
  width: 100%;



}

#af-body-128803727{
	display: block;
    gap: 20px;
    grid-template-columns: auto auto auto;
}

@media (min-width: 768px) {
#af-body-128803727{
	display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
}
}


::-webkit-input-placeholder {

	/* Edge */

	color: #c9c7d1 !important;

}



:-ms-input-placeholder {

	/* Internet Explorer 10-11 */

	color: #c9c7d1 !important;

}



::placeholder {

	color: #c9c7d1 !important;

}



.form-btn {

	border-radius: 10px;

	background-image: -moz-linear-gradient(-45deg, rgb(58, 67, 208) 0%, rgb(108, 116, 247) 100%);

	background-image: -webkit-linear-gradient(-45deg, rgb(58, 67, 208) 0%, rgb(108, 116, 247) 100%);

	background-image: -ms-linear-gradient(-45deg, rgb(58, 67, 208) 0%, rgb(108, 116, 247) 100%);

	padding: 19px 35px;

	display: block;

	font-weight: 600;

	color: #ffffff;

	text-decoration: none;

	border: none;

	outline: none;

	width: 100%;

	text-transform: uppercase;

}



.form-btn:hover {

	background-image: -moz-linear-gradient(90deg, rgb(108, 116, 247) 100%, rgb(58, 67, 208) 0%);

	background-image: -webkit-linear-gradient(90deg, rgb(108, 116, 247) 100%, rgb(58, 67, 208) 0%);

	background-image: -ms-linear-gradient(90deg, rgb(108, 116, 247) 100%, rgb(58, 67, 208) 0%);

}



a.affliate-link {

	padding: 19px 35px;

	display: inline-block;

	color: #ffffff;

	text-decoration: none;

	text-align: center;

	border-radius: 10px;

	background-image: -moz-linear-gradient(-50deg, rgb(255, 15, 71) 0%, rgba(218, 87, 54, 0.99608) 100%);

	background-image: -webkit-linear-gradient(-50deg, rgb(255, 15, 71) 0%, rgba(218, 87, 54, 0.99608) 100%);

	background-image: -ms-linear-gradient(-50deg, rgb(255, 15, 71) 0%, rgba(218, 87, 54, 0.99608) 100%);

	text-transform: uppercase;

}



a.affliate-link:hover {

	background-image: -moz-linear-gradient(90deg, rgba(218, 87, 54, 0.99608) 100%, rgb(255, 15, 71) 0%);

	background-image: -webkit-linear-gradient(90deg, rgba(218, 87, 54, 0.99608) 100%, rgb(255, 15, 71) 0%);

	background-image: -ms-linear-gradient(90deg, rgba(218, 87, 54, 0.99608) 100%, rgb(255, 15, 71) 0%);

}



.link-flex {

	display: inline-flex;

	align-items: center;

	justify-content: center;

	gap: 20px;

	flex-wrap: wrap;

}

.promobtns {
	background: #121212;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0px;
	text-align: center;
	color: #fff;
	border-radius: 16px;
	width: 90%;
	position: relative;
	padding: 17px;
	margin: 20px auto;
  }

  .promobtns:hover {
	background: #7159ff;
	color: #fff !Important;
  }
  .promo-top {
	background: #f7cbcb;
	padding: 50px;
	margin-top: 50px;
  }

  

  .header-icon {
	position: absolute;
	right: -3%;
	bottom: 26%;
	width: 21%;
	z-index: 1;

}




	.header-icon1 {
		position: absolute;
		left: 3%;
		bottom: 0%;
		width: 19%;
	  }

	  .header-icon2 {
		position: absolute;
		left: -3%;
		top: 30%;
		width: 10%;
		z-index: 1;

	}

	.header-icon3 {
		position: absolute;
		right: 0%;
		bottom: 6%;
		width: 11%;
	
	  }


	  .header-icon4 {
		position: absolute;
		right: 0%;
		bottom: 11%;
		width: 8%;
	
	  }
	  .header-icon5 {
		position: absolute;
		left: 0%;
		bottom: 12%;
		width: 24%;
	  }


	  .ele1 {
		position: relative;
	  }
	  .element2 {
		position: absolute;
		text-align: center;
		z-index: 1;
		top: 0;
		right: 0%
	  }
	  @media (max-width: 480px) {
		.element2 {
			width: 35px;
		}
	  }
	  @media (max-width: 480px) {
		.element1 {
			width: 35px;
		}
	  }
	
	
	  @media (min-width: 480px) {
		.element2 {
		  right: 14%;
		}
	
	  }
	  @media only screen and (min-width: 768px) {
		.element2 {
		  right: -3%;
		}
	  }
	
	  @media only screen and (min-width: 992px) {
		.element2 {
		  right: 0%;
		}
	  }
	  @media only screen and (min-width: 1100px) {
		.element2 {
		  right: 5%;
		}
	  }
	  @media only screen and (min-width: 1200px) {
		.element2 {
		  right: 8%;
		}
	  }
	  @media (min-width: 1300px) {
		.element2 {
		  right: 2%;
		}
	  }
	  @media (min-width: 1400px) {
		.element2 {
		  right: 4%;
		}
	  }
	 
	  .section2-box-inn {
		background-color: #fff;
		border-radius: 32px;
		padding: 2.5% 3% 5% 3%;
	  }
	  
	
	
	 
	  
	  .element1 {
		position: absolute;
		text-align: center;
		z-index: 1;
		top: 0;
	  }
	  @media (min-width: 480px) {
		.element1 {
		  left: 14%;
		}
	  }
	  @media only screen and (min-width: 768px) {
		.element1 {
		  left: -3%;
		}
	  }
	  @media only screen and (min-width: 992px) {
		.element1 {
		  left: 0;
		}
	  }
	
	  @media only screen and (min-width: 1100px) {
		.element1 {
		  left: 5%;
		}
	  }
	
	  @media only screen and (min-width: 1200px) {
		.element1 {
		  left: 8%;
		}
	  }
	  @media (min-width: 1300px) {
		.element1 {
		  left: 2%;
		}
	  }
	  @media (min-width: 1400px) {
		.element1 {
		  left: 4%;
		}
	  }
	 
	  
	  @media (min-width: 768px) {
		.lock-date{
			position: relative;
			background-image: url(/images/jv/bg3.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: bottom;
			padding: 1px 0 160px 0;
		
		  }
	  }
	  @media (max-width: 768px) {
		.lock-date{
			position: relative;
			background-color: #14233f;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: bottom;
			padding: 1px 0 50px 0;
		
		  }
	  }


	  .need-box {
		border-width: 1px;
		border-color: rgb(181, 184, 255);
		border-style: solid;
		border-radius: 10px;
		background-color: rgb(255, 255, 255);
		box-shadow: -10.607px 10.607px 49px 0px rgba(5, 18, 164, 0.15);
		padding: 0;
		text-align: center;
		height: 100%;
		position: relative;
		z-index: 3;
		overflow: hidden;
	  }


	  .section7 {
		background: url(/images/jv/section7.png) no-repeat center top;
		  background-size: auto;
		background-size: cover;
		padding: 50px 0 50px 0;
		/* margin-top: -14%; */
		overflow: hidden;
		position: relative;
		z-index: 1;
	  }
	  .section7-box-out {
		padding: 15px;
	  }
	  .section7-box {
		border-width: 1px;
		border-color: rgb(252, 221, 5);
		border-style: solid;
		background-color: rgb(255, 255, 255);
		box-shadow: 10.5px 18.187px 43px 0px rgba(98, 53, 143, 0.14);
		padding: 10% 8.5% 10% 2%;
		height: 100%;
		position: relative;
	  }
	  .bgElement {
		position: absolute;
		right: -12.9px;
		top: -1px;
	  }
	  .padding0 {
		padding: 0px;
	  }
	  .section7 .mycontainer2 .bgElement{
		width: 80px;
	  }
	  .section7 .mycontainer2 .fact1 {
		position: relative;
		width: 80px;
		height: 80px;
	  }

	  .whypromhl-box {
		padding: 40px 40px 60px;
		border-radius: 50px;
		background: white;
		color: #111;
	  }
	  .whypromhl::after {
		content: '';
		position: absolute;
		width: 40%;
		background: #7159FF;
		height: 6px;
		left: 14%;
		bottom: 0;
		border-radius: 10px;
	  }
	  ul.why-promo-list {
		margin-top: 30px;
		padding: 0px;
	  }
	  ul.why-promo-list li {
		font-family: "Nunito", sans-serif;
		font-size: 22px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0px;
		text-align: left;
		display: flex;
		align-items: center;
		color: #111;
		margin-bottom: 20px;
		border-bottom: 2px dotted gray;
	  }
	  .promo-icon {
		background: #fff;
		height: 55px;
		width: 55px;
		margin-right: 10px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
	  }
	  ul.why-promo-list li {
		font-family: "Nunito", sans-serif;
		font-size: 22px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0px;
		text-align: left;
		color: #111;
	  }


	  .blank-liner3 {
		border: 3px dashed #4f4284;
		border-radius: 20px;
		padding: 30px;
		margin-top: -80px;
		z-index: 9;
		position: relative;
	  }

	  .track-record-box {
		border: 3px dashed rgba(37, 94 ,245,.7);
		border-radius: 20px;
		padding: 30px;
		color: #fff;
	  }


	  
	  .reciprocate-sec {
        background: #091274 url(/images/jv/reci-bg.html) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .reciprocate-first{
        background-color: #d4e3fd;
        background-size: cover;
		padding: 50px 0px 50px 0;
    }

    .step-block1 {
        background-color: #058601;
        border-radius: 20px;
        padding: 5px 20px;
        display: inline-block;
        top: -20px;
        position: relative;
        transform: skew(369deg, -8deg);
        border: 1px solid #058601;
        box-shadow: 0px 6px 0px 0px #d5d6d9;
      }
     .step-block2 {
        background-color: #058601;
        border-radius: 20px;
		padding: 5px 20px;
        display: inline-block;
        top: -20px;
        position: relative;
        transform: skew(369deg, -8deg);
        border: 1px solid #058601;
        box-shadow: 0px 6px 0px 0px #d5d6d9;
      }
	

      .reciprocate-first .step-wrap {
        border-radius: 20px 20px 20px 20px;
        background-color: rgb(255, 255, 255);
        background-color: #fff;
        box-shadow: 0px 0px 15px 15px rgba(23, 52, 174, 0.2);
        padding: 0px 30px 30px 30px;
        margin-top: 28px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: calc(100% - 28px);
        color: #000;
		border: 1px solid #058601;
      }

	  @media (min-width: 768px) {
		.step-block1 {
		  background-color: #058601;
		  border-radius: 20px;
		  padding: 5px 20px;
		  display: inline-block;
		  top: -20px;
		  position: relative;
		  transform: skew(369deg, -8deg);
		  border: 1px solid #058601;
		  box-shadow: 0px 6px 0px 0px #d5d6d9;
		}
	  }