/* Welcome Start */
.welcome {
    background: url(../images/welcome.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    padding: 30px 0 50px 0;
}

.welcome .logo {
    text-align: center;
}

.welcome .top-content {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.welcome .design-content {
    text-align: center;
    margin-top: 100px;
    position: relative;
    padding: 30px 0;
}

.welcome .design-content .line1 {
    position: absolute;
    top: 0;
    right: -30px;
}

.welcome .design-content .line2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.welcome .box {
    margin: 30px 0;
    padding: 10px 40px;
    border-radius: 80px;
    text-align: center;
    display: inline-block;
}

.welcome .box h5 {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
}

.welcome .top-content .sp-1 {
    margin-bottom: 30px;
}

.welcome .top-content .w-btn {
    background-color: #FF8617;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
    transform: rotate(355deg);
}

.welcome .bottom-content p {
    color: rgba(255, 255, 255, 1);
    margin: 20px 0;

}

.welcome .bottom-content .font18 span {
    font-size: 18px;
}


.welcome .bottom-content .feature-lists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.welcome .bottom-content .feature-lists li {
    background: url(../images/checkmark.png) no-repeat center left;
    background-size: 20px;
    margin: 5px 10px;
}

.welcome .bg-transparent-3 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px 30px;
    border: 1px dashed #fff;
    border-radius: 10px;
}

.welcome .bg-transparent-2 {
    background-color: #32AB3480;
    display: inline-block;
    padding: 7px 45px;
    border: 1px solid #01d75b;
    border-radius: 44px;
}

.feature-shape {
    border-radius: 30px;
    background-color: #0E4970;
    padding: 40px 50px;
    border: 2px solid #4593FF;
}



/* @media screen and (max-width: 567px) {
    .welcome .logo img {
        width: calc(100% - 20px);
    }

    .welcome .top-content img {
        width: 100%;
        height: 100%;
    }
} */

.categories-box {
    background: url(../images/bg-1.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    padding: 50px 0 140px 0;
}

.categories-box .head-content .media img {
    width: 100%;
    height: 100%;
    margin-bottom: -15px !important;
}

.hedingtop {
    /* background-color: #333A46;
    padding: 0px 12px;
    border-radius: 51px;
    height: 100%; */

    background-color: #333A46;
    display: inline-flex;
    gap: 17px;
    padding: 8px 90px 2px 15px;
    align-items: center;
    border-radius: 100px;
    position: relative;


}

.categories-box .card-box {
    margin-bottom: 50px;
}

.categories-box .card-box .card-box-inner {
    background-color: #0F1826;
    padding: 20px 20px;
    border: 2px solid rgba(104, 51, 255, 0.15);
    border-radius: 30px;
    height: 100%;
}

.categories-box .card-box .card-box-inner content {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 20px;
    border: 2px solid rgba(104, 51, 255, 0.15);
    border-radius: 30px;
    height: 100%;
}



.categories-box .card-box .card-box-inner p {
    margin-bottom: 10px;
    font-size: 18px !important;
}

.categories-box .card-box.style-1 .card-box-inner .media img {
    width: 100%;
    height: 100%;
    max-width: 50px;
}

.categories-box .card-box.style-1 .card-box-inner .media {
    margin-bottom: 10px;
    text-align: center;
}

.categories-box .card-box.style-1 .card-box-inner .content {
    margin-bottom: 10px;
    /* text-align: center; */
}

.categories-box .count-box {
    text-align: center;
}

.count-box .bottom-content {
    text-shadow: 0px 0px 5px #ffffff;
}

.steps-box {
    background-color: #f8f5ff;
    background-size: cover;
}

.steps-box .steps-box-wrapper .content .step-title p {
    margin-bottom: 0;
    text-align: center;
}

.steps-box .steps-box-wrapper .content .steps-box-inner .step-title {
    display: block;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50px;
    margin-right: 10px;
    font-weight: 600;
}

.steps-box .steps-box-wrapper .content .steps-box-inner .step-title.style-1 p {
    font-weight: 700;
    color: #000000;
}

.steps-box .steps-box-wrapper .content .steps-box-inner {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.steps-box .steps-box-wrapper .content .steps-box-inner.style-1 .step-title {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgba(63, 82, 255, 1) 100%);
}

.steps-box .steps-box-wrapper .content .steps-box-inner.style-1 h6 {
    color: rgba(63, 82, 255, 1);
}

.steps-box .steps-box-wrapper .content .steps-box-inner.style-2 .step-title {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgba(255, 196, 68, 1) 100%);
}

.steps-box .steps-box-wrapper .content .steps-box-inner.style-2 h6 {
    color: rgba(255, 196, 68, 1);
}

.steps-box .steps-box-wrapper .content .steps-box-inner.style-3 .step-title {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgba(31, 214, 82, 1) 100%);
}

.steps-box .steps-box-wrapper .content .steps-box-inner.style-3 h6 {
    color: rgba(31, 214, 82, 1);
}

.steps-box .steps-box-wrapper .content .steps-box-inner.style-4 .step-title {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgb(214, 43, 31) 100%);
}

.steps-box .steps-box-wrapper .content .steps-box-inner.style-4 h6 {
    color: rgb(214, 43, 31);
}

.testimonial {
    background-color: #fff;
    background-size: cover;
    overflow: hidden;
}

.testimonial .testimonial-wrapper .testimonial-box {
    border-color: rgb(242, 249, 255);
    box-shadow: 0px 0px 25px 0px rgb(229, 239, 255);
    border-radius: 15px;
    padding: 30px;
    margin-top: 80px;
    text-align: center;
}
#vp-preview {
    border-radius: 15px;
  }
.testimonial .testimonial-wrapper .testimonial-box .testimonial-widgit {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.testimonial .testimonial-wrapper .testimonial-box .testimonial-widgit .media {
    margin-bottom: 20px;
    margin-top: -90px;
}

.testimonial .testimonial-wrapper .testimonial-box .testimonial-widgit .media img {
    width: 100%;
    height: 100%;
    max-width: 180px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.testimonial .testimonial-wrapper .testimonial-box p {
    font-weight: 400;
    text-align: start;
    font-size: 16px !important;
}

.testimonial .testimonial-wrapper .testimonial-video .testimonial-video-inner {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 3px solid rgba(113, 23, 255, 0.2);
}

.testimonial .testimonial-wrapper .testimonial-video .testimonial-video-inner .content {
    text-align: center;
    padding-top: 20px;
}

.testimonial .testimonial-wrapper .testimonial-video .testimonial-video-inner .content h6 {
    font-weight: 700;
}

.testimonial .testimonial-wrapper .testimonial-box .testimonial-widgit .content .post {
    font-size: 18px !important;
}

.testimonial-box-wrapper .testimonial-box .info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
}

.testimonial-box-wrapper .testimonial-box {
    text-align: start;
}

.testimonial-box-wrapper .testimonial-box .media img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.industry .industry-box {
    margin-bottom: 30px;
}

.courses {
    background: url(../images/bg-4.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}

.courses .bottom-content .card-box {
    margin-bottom: 30px;
}

.courses .card-box-inner {
    padding: 30px;
    border: 2px solid rgba(123, 112, 238, 0.5);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.stop {
    position: relative;
    z-index: 1;
}

.stop:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #1b1e22;
    z-index: -1;
}

.stop .stop-box {
    background-color: #0066FF;
    color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.do-for-you .card-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 20px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    height: 100%;
}

.do-for-you .card-box-inner {
    margin-top: 130px;
}

.do-for-you .card-box .media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 200px;
}

.do-for-you .card-box .media {
    text-align: center;
    margin: -130px 0 20px 0;
}

.head-content .media img {
    width: 100%;
    height: 100%;
    margin-bottom: -150px;
}

.count-box-wrapper {
    background: url(../images/bg-5.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}

.transform-box {
    position: relative;
    margin-bottom: -160px;
}

/* .transform-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(52deg, #2766C7 0%, #188ed7 100%);
    z-index: -1;
} */

.transform-box .transform-box-inner {
    background: url(../images/Supercharge.png) no-repeat center bottom;
    /* background-color: #0066FF; */
    border-radius: 20px;
    color: #fff;
    padding: 30px;
    z-index: 1;
}

.transform-box .transform-box-inner .head-box {
    text-align: center;
    background-color: #ffc444;
    padding: 30px;
    border-radius: 30px;
    color: #000;
    font-weight: 600;
    margin-top: -80px;
    margin-bottom: 30px;
}

.introduction {
    background: url(../images/bg-6.png) no-repeat center top;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}

.introduction .bottom-content {
    text-align: center;
    margin-top: 50px;
}

.introduction .bottom-content .bg-yellow {
    background-color: #FDD551;
    color: #000;
    display: inline-block;
    padding: 10px 50px;
    font-weight: 700;
    border-radius: 30px;
    z-index: -1;
}

.learning {
    position: relative;
}

.learning:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #FFF8DF;
    z-index: -1;
}

.learning .learning-box {
    background-color: rgba(247, 244, 255, 1);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.lento-works {
    background-color: #FFF8DF;
}

.lento-works .card-box {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFA538;
    border-radius: 10px;
    padding: 30px;
}

.lento-works .card-box-wrapper .card-box {
    margin-top: 120px;
}

.lento-works .card-box-wrapper .card-box .media {
    margin-bottom: 30px;
    margin-top: -110px;
    width: 160px;
    height: 160px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    ;
}

.lento-works .card-box-wrapper .card-box .media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0px;
}

.lento-works .bottom-content {
    margin-top: 50px;
}

.everything .bottom-content {
    margin-top: 60px;
}

.block-box {
    position: relative;
}

.block-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #6433ff;
    z-index: -1;
}

.block-box .block-box-inner .block-box-content .card-box .media {
    margin: 10px 0;
}

.block-box .block-box-inner .block-box-content .card-box .content {
    margin: 10px 0;
    text-align: center;
}

.block-box .block-box-inner {
    background: url(../images/bg-7.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.block-box .block-box-inner .block-box-content .card-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    border: 2px solid rgba(104, 51, 255, 0.15);
    border-radius: 30px;
    height: 100%;
}

.dominate-box {
    background-color: rgba(29, 8, 126, 1);
    padding: 30px 30px;
    margin-top: -2px;
    border-radius: 0 0 30px 30px;
}
.dominate-box1 {
    background-color: yellow;
    color: #000;
    padding: 30px 30px;
    margin-top: -2px;
    border-radius: 0 0 30px 30px;
    text-align: center;
}

.product-points {
    background: url(../images/bg-8.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
}

.product-points .card-box {
    padding: 50px 30px;
    margin-bottom: 30px;
}

.product-points .card-box.style-1 {
    background: url(../images/shape-3.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
}

.new-life {
    background: url(../images/bg-9.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}

.new-life .card-box {
    padding: 20px;
    background-color: rgba(123, 112, 238, 0.4);
    border-radius: 20px;
    border: 1px solid #FDD551;
}

.new-life .card-box h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.lento-works.style-1 .count-box {
    margin-top: 50px;
}

.will-cost {
    position: relative;
    z-index: 1;
}

.will-cost::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #1B1E22;
    z-index: -1;
}

.will-cost .card-box {
    background-color: #0066FF;
    color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.act-now {
    background: url(../images/bg-4.png) no-repeat center bottom;
    background-size: cover;
    color: #fff;
}

.thinking {
    background: url(../images/bg-10.png) no-repeat center bottom;
    background-size: cover;
}

.thinking .card-box {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #000;
    padding: 30px;
    border-radius: 30px;
}

.money-back {
    margin-top: -130px;
}

.money-back .card-box {
    background-color: #2D0976;
    color: #fff;
    padding: 40px;
    border-radius: 30px 30px 0 0;
}

.money-back .bottom-box {
    border-radius: 0 0 30px 30px;
}

.money-back .count-box {
    margin-top: 50px;
}

.access .card-box {
    background-color: #394A6D;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid #2F89EF;
}

.timer-box {
    background: url(../images/bg-11.png) no-repeat center bottom;
    background-size: cover;
}

.introduce {
    background: url(../images/bg-12.png) no-repeat center bottom;
    background-size: cover;
    color: #fff;
}

.faq {
    background-color: #F4F7FD;
    background-size: cover;
}

.faq .count-box {
    margin-top: 50px;
}

.faq .accordion .accordion-item {
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.faq .accordion .accordion-item .accordion-header .accordion-button {
    border-radius: 20px;
    padding: 20px;
}

.faq .accordion-button::after {
    content: none;
}

.faq .accordion .accordion-item .accordion-button {
    font-weight: 700;
}

.footer {
    background-color: #14183F;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.footer .footer-content .info p {
    font-size: 14px;
}

.footer .footer-link a {
    color: rgba(255, 255, 255, 0.8);
}

.footer .footer-content {
    margin-top: 50px;
}

.footer .footer-link {
    display: flex;
}

.footer .footer-link li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-size: 14px;
}

.footer .footer-bottom {
    margin-top: 50px;
}

.bottom-box {
    background-color: yellow;
    padding: 20px 0;
    color: #110825;
    margin-bottom: 0;
}

.achieving-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    /* background: linear-gradient(52deg, #2766C7 0%, #188ed7 100%); */
    z-index: -1;
}

.achieving-box {
    position: relative;
    margin-top: -170px;
}

.achieving-box .achieving-box-inner {
    background: url(../images/Supercharge.png) no-repeat center bottom;
    /* background-color: #0066FF; */
    border-radius: 20px;
    color: #fff;
    padding: 30px;
    z-index: 1;
}

.bg-pink {
    background-color: #FFDCDC;
}

@media screen and (min-width: 992px) {
    .advantage-box .advantage-box-inner .head-box {
        text-align: center;

        background: url(../images/advantage.png) no-repeat center bottom;
        padding: 20px;
        border-radius: 30px;
        color: #ffff;
        font-weight: 600;
        /* margin-top: -80px; */
        /* margin-bottom: 30px; */
    }
}

@media screen and (max-width: 991px) {
    .advantage-box .advantage-box-inner .head-box {
        text-align: center;
        background-color: rgb(255 23 23);
        box-shadow: 0px 0px 15px 0px rgba(6, 24, 53, 0.1);
        padding: 20px;
        border-radius: 30px;
        color: #ffff;
        font-weight: 600;
        /* margin-top: -80px; */
        /* margin-bottom: 30px; */
    }
}



@media screen and (min-width: 992px) {

    .shape_2 {
        background: url(../images/shape_2.png) no-repeat center bottom;
        background-size: contain;
        overflow: hidden;
        color: #000;
        display: inline-block;
        padding: 35px;
        object-fit: cover;
    }

}

@media screen and (max-width: 991px) {

    .shape_2 {
        background: url(../images/shape_2.png) no-repeat center bottom;
        background-size: contain;
        overflow: hidden;
        color: #000;
        display: inline-block;
        padding: 15px;
        object-fit: cover;
    }

}

@media screen and (max-width: 767px) {

    .shape_2 {
        background-image: none;
        background-color: #FFD600;
        background-size: contain;
        overflow: hidden;
        color: #000;
        display: inline-block;
        padding: 15px;
        object-fit: cover;
        border-radius: 30px;
    }

}
.light-red-color {
    color: #ff676b;
  }
.welcome .box-dashsed {
    display: inline-block;
    padding: 8px 25px;
    border-radius: 50px;

    color: #ff676b;
    border: 1px dashed #32880b;
}


@media (min-width: 1200px) {
    .style-1 {
        background: url(../images/textimage.png) no-repeat center;
        background-size: 100% 100%;
        padding: 15px 20px 15px 20px;

    }
}


@media (max-width: 1199px) {


    .welcome .style-1 {
        background: url(../images/textimage.png) no-repeat center;
      
       background-size: 100% 100%;
        padding: 15px 20px 15px 20px;
        margin: 0 auto;
    }

    .welcome .style-1 {


        display: inline-block;
        padding: 10px 30px;
        border-radius: 44px;


        background-image: linear-gradient(180deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);
        background-image: -webkit-linear-gradient(180deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);
        background-image: -ms-linear-gradient(180deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);

    }

}

.advantage-box .advantage-box-inner .advantage-lists {
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-width: 1px;
    border-color: rgb(194, 215, 247);
    border-style: solid;
    border-radius: 15px;

    background: url(../images/advantage-card.png) no-repeat center bottom;
    box-shadow: 0px 0px 15px 0px rgba(6, 24, 53, 0.1);
    padding: 30px 20px;
    height: 100%;
}

.section_demo .demobg {
    text-align: center;
    color: #fff;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
}

.welcome .demobg {
    text-align: center;
    color: #fff;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
}

.logo-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.section_thinking {
    /* background: url(../images/thinking.png) no-repeat center;
    background-position: center center; */

    background: url(../images/thinking.png) no-repeat center;
    background-position-x: center;
    background-position-y: center;
    background-size: auto;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
    color: #000;
    background-position: center;
}

.section_thinking .thinking-wrapper .thinking-box {
    /* border-color: rgb(242, 249, 255);
    box-shadow: 0px 0px 25px 0px rgb(229, 239, 255);
    border-radius: 15px; */
    padding: 0px;
    margin-top: 20px;
    text-align: center;
}

.section_thinking .thinking-wrapper .thinking-box .thinking-widgit {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.section_thinking .thinking-wrapper .thinking-box .thinking-widgit .media {
    margin-bottom: 20px;
    /* margin-top: -90px; */
}

.section_thinking .thinking-wrapper .thinking-box .thinking-widgit .media img {
    width: 100%;
    height: 100%;
    max-width: 130px;
    border-radius: 50%;
    object-fit: cover;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
}

.section_thinking .thinking-wrapper .thinking-box .thinking-widgit {
    text-align: center;
}


.stop_bg {
    background: url(../images/stop_bg.png) no-repeat center bottom;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    padding: 170px 0 0px 0;
}

.dashboard_bg {
    background: url(../images/dashboard_bg.html) no-repeat center bottom;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
    color: #000;
}

.shape_1 {
    background: url(../images/shape_1.png) no-repeat center bottom;
    background-size: auto;
    background-size: contain;
    overflow: hidden;
    color: #fff;
    display: inline-block;
    padding: 15px 60px;
}

.imagine {
    background: url(../images/imaginebg.png) no-repeat center bottom;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}




.emailchat {
    background: url(../images/emailchat.png) no-repeat center bottom;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
    color: #000;
}

.emailchat .card-box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1;
    opacity: 0.8;
}

.emailchat .card-box .media {
    text-align: center;
    margin: 0px 0 0px 0;
}

.emailchat .card-box {

    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 30px;
    position: relative;
    z-index: 9999;
}

.media-box1 {
    background: url(../images/media-box1.png) no-repeat center;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
}

.media-box2 {
    background: url(../images/media-box2.png) no-repeat center;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
}

.hedingtop2 {
    background-color: #14A6DF;
    display: inline-block;
    padding: 11px 41px 2px;
    border-radius: 44px;
}

.emailchat .card-box .content {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9;
    padding: 0px 20px;
}

.emailchat .card-box-inner {
    margin-top: 130px;
}

.emailchat .card-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px 0px;
    border-radius: 30px;
    height: 100%;
}

.emailchat .card-box .content p {
    font-size: 18px !important;
}

/* section-blogs */


.blogschat {
    /* background: url(../images/emailchat.png) no-repeat center bottom;
    background-size: auto;
    background-size: cover; */
    overflow: hidden;
    color: #ffff;
}

.blogschat .card-box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1;
    opacity: 0.8;
}

.blogschat .card-box .media {
    text-align: center;
    margin: 0px 0 0px 0;
}

.blogschat .card-box {

    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 30px;
    position: relative;
    z-index: 9999;
}

.media-box1 {
    background: url(../images/media-box1.png) no-repeat center;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
}

.media-box2 {
    background: url(../images/media-box2.png) no-repeat center;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
}

.hedingtop3 {
    background-color: #FF9A46;
    display: inline-block;
    padding: 11px 41px 2px;
    border-radius: 44px;
}

.blogschat .card-box .content {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9;
    padding: 30px 20px;
}

.blogschat .card-box .content p {
    font-size: 18px !important;
}

.blogschat .card-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    height: 100%;
}






/* seo-sec */

.articles .head-content .media img {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.articles .head-content {
    margin-top: -83px;
}

.articles {
    background: url(../images/articles.png) no-repeat center bottom;
    background-size: auto;
    background-size: cover;
    /* overflow: hidden; */
    color: #fff;
}


.articles {
    background: url(../images/articles.png) no-repeat center bottom;
    background-size: auto;
    background-size: cover;
    /* overflow: hidden; */
    color: #fff;
}
/* articles end */


.seo-sec .count-box-wrapper {
    background: url(../images/articles.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}

.seo-sec .card-box {
    color: #fff;
    background-color: #092249;
    padding: 20px 20px;
    border: 2px solid #092249;
    border-radius: 30px;
    height: 100%;

}

.seo-sec .card-box .content {
    text-align: center;
}



@media screen and (min-width: 1200px) {
    .sec_beginner .media .mbot
    {
        margin-bottom: -170px;

    }

    .replaces .media .mtop {
        margin-bottom: -255px;

    }
}
@media screen and (max-width: 1200px) {
    .sec_beginner .media .mbot {
        margin-bottom: -310px;
      }
    .replaces .media .mtop {
        margin-bottom: -451px;
      }
}


@media screen and (max-width: 991px) {
    .sec_beginner .media .mbot {
        margin-bottom: 0px;
      }
    .replaces .media .mtop {
        margin-bottom: 0px;
      }
}
@media screen and (min-width: 992px) {

    .seo-sec {
        margin-top: -250px;
    }
}
@media screen and (max-width: 991px) {
    .seo-sec {
        margin-top: -50px;
    }
}





.seo-sec .card-box-inner {
    margin-top: 130px;
}

.seo-sec .card-box .media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 118px;
}


.seo-sec .card-box .media {
    text-align: center;
    margin: -80px 0 20px 0;
}


/* website_seo  */


.website_seo {
    background: url(../images/website_seo.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #000;
}

.website_seo_card {
    text-align: center;
    padding: 20px;
    background-color: #0F1826;
    color: #fff;
    border-radius: 20px;
}

/* section_ads */
.section_ads{
    background: url(../images/section_ads.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    padding: 100px 0 250px 0;
}

.contant_ads .count-box-wrapper {
    background: url(../images/articles.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}

.contant_ads .card-box {
    color: #000;
    background-color: #FFE6A7;
    padding: 20px 20px;
    border: 2px solid #FFE6A7;
    border-radius: 30px;
    height: 100%;

}

.contant_ads{
    background-color: #2C0505;
    color: #fff;
}

.contant_ads_backbox {
    background-color: #050000;
    color: #fff;
    padding: 40px;
    border-radius: 30px;
  }

  .contant_ads_backbox .media{
    text-align: center;
    margin-bottom: 20px;
  }
.contant_ads_backbox .content{
    text-align: center;
}

.contant_ads .card-box .content {
    text-align: center;
}

@media screen and (min-width: 992px) {

	.contant_ads .card-box-inner {
        margin-top: -130px;
    }
}
@media screen and (max-width: 991px) {
    .section_ads {
        padding: 100px 0 0px 0;
      }

	.contant_ads .card-box-inner {
        margin-top: 60px;
    }

}



.contant_ads .card-box .media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 118px;
}


.contant_ads .card-box .media {
    text-align: center;
    margin: -80px 0 20px 0;
}



/* advanced */

.advanced{
    background: url(../images/advanced.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #000;
    padding: 90px 0 120px 0;
}
.convert-box{
    background: url(../images/convert_box.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;


}

.funnel_generator{
    background: url(../images/funnel_generator.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    padding: 50px 0 0px 0;
}

.solution_assis{
    background: url(../images/solution_assis.png) no-repeat center ;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    background-position: center center;
}
.sec_beginner{
    background: url(../images/sec_beginner.png) no-repeat center ;
    background-size: cover;
    overflow: hidden;
    color: #000;
    background-position: center center;
}
.improved_contants{
    background-color: rgb(35, 123, 208);
    color: #000;
}
.improved_points{
    background: url(../images/improved_points.png) no-repeat center ;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    background-position: center center;
}
.improved_points .card-box {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    /* border: 1px solid #FDD551; */
   
  }

  .real_time{
    background: url(../images/real_time.png) no-repeat center ;
    background-size: cover;
    /* overflow: hidden; */
    color: #000;
    background-position: center center;
  }


  .desk_sec {
    background: url(../images/moneys.png) no-repeat center bottom;
      background-size: auto;
    background-size: cover;
    color: #fff;
  }
 .desk_sec .auth-box-wrapper {
    margin-top: 50px;
 }

 .desk_sec .auth-box-wrapper .auth-box {
    text-align: center;
    margin-bottom: 20px;
  }

  .desk_sec .auth-box-wrapper .auth-box .media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 250px;
  }
  .desk_sec .auth-box-wrapper .auth-box .content {
    margin-top: 20px;
    margin-bottom: 0;
  }


.replaces {
    background: url(../images/replaces.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #000;
}

.moneys{
    /* background: url(../images/moneys.png) no-repeat center bottom; */
    background-size: cover;
    overflow: hidden;
    color: #000;
    padding: 50px 0 50px 0;
    background-color: #fff;
}
.Recap {
    background: url(../images/Recap.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}
.social_media{
    background: url(../images/social_media.png) no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    color: #000;
}
.social_media .social_media-box{
text-align: center;
}

.countdow-box-inner {
    background: url(../images/Supercharge.png) no-repeat center bottom;
    background-color: #0066FF;
    border-radius: 20px;
    color: #fff;
    padding: 30px;
    z-index: 1;
  }

.social_media.card-box .card-box-inner {
    background-color: #0F1826;
    padding: 20px 20px;
    border: 2px solid rgba(104, 51, 255, 0.15);
    border-radius: 30px;
    height: 100%;
  }

  .social_media .card-box .card-box-inner {
    background-color: #263238;
    padding: 20px 20px;
    color: #fff;
    border: 2px solid #263238;
    border-radius: 30px;
    height: 100%;
  }  
@media (min-width: 1200px){
    .social_media1 {
        background: url(../images/textimage.png) no-repeat center;
          background-size: auto;
        background-size: auto;
        background-size: auto;
        padding: 50px 20px 50px 70px;
        background-size: contain;
        margin: 0 auto;
          margin-bottom: 0px;
      }
}



/* lite and gold button start */



/* #section10 .feat1 {
    background-color: #8feb13;
    border-radius: 70px;
    border: 1px solid #8feb13;
    padding: 10px 30px;
    display: block;
    position: absolute;
    top: -40px;
    left: 19%;
  } */

  .section101 .wrapper {
    background: #0f387c;
    padding: 40px;
  }
  .section101 .wrapper {
    border-radius: 30px;
    border: 1px solid #00d456;
    background: #fff !important;
    padding: 40px;
    box-shadow: 3px 10px 41px -14px rgb(159 174 207 / 69%);
    position: relative;
  }

  .section101 .wrapper ul{
    padding: 0 0 0 0;
  }


  .section101 .wrapper ul li {
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-size: 32px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 1px;
    font-weight: 400;
    list-style-type: none;
    color: #000;
  }
  .img-center {
    display: block;
    max-width: 100%;
    margin: auto;
      margin-top: auto;
  }

  .section101 .wrapper-gold {
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #00a2cd;
    color: #000;
    /* background: url(../images/intro-bg1.png);
      background-position-x: 0%;
      background-position-y: 0%; */
    background-position: top center;
    padding: 40px;
    box-shadow: 3px 10px 41px -14px rgba(159, 174, 207, 0.7);
  }

  .section101 .wrapper-gold ul li {
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-size: 32px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 1px;
    font-weight: 400;
    list-style-type: none;
    color: #fff;
  }
  .section101 .wrapper-gold ul{
    padding: 0 0 0 0;
  }
  .section101 .wrapper-gold ul li p{
    font-size: 18px !important;
  }

  /* .section101 .wrapper-gold {
    position: relative;
    border-radius: 30px;
    border: 7px solid #e5c01e;
    background: url(../images/intro-bg1.png);
      background-position-x: 0%;
      background-position-y: 0%;
    background-position: top center;
    padding: 40px;
    box-shadow: 3px 10px 41px -14px rgb(159 174 207 / 69%);
  } */

 


  /* @media (min-width: 1200px) {

    #section10 .feat2 {
        color: #fff;
        background-color: rgb(255, 0, 0);
        border-radius: 70px;
        border: 1px solid rgb(255, 0, 0);
        padding: 10px 30px;
        display: block;
        position: absolute;
        top: -40px;
        left: 19%;
      }
} */
/* @media (max-width: 1199px) {

    #section10 .feat2 {
        color: #fff;
        background-color: rgb(255, 0, 0);
        border-radius: 70px;
        border: 1px solid rgb(255, 0, 0);
        padding: 10px 30px;
        display: block;
        position: absolute;
        top: -40px;
        left: 14%;
      }
}

@media (max-width: 991px) {

    #section10 .feat2 {

        left: 10%;
      }
} */




  /* lite and gold button and */