@import url(bootstrap.min.css);

.font-family2 {
	font-family: 'Caveat', cursive;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
}

@media(min-width:1200px) {
	.container {
		max-width: 1120px !important;
	}
}

.responsive-embed {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
}

.responsive-embed iframe,
.responsive-embed object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.font16 {
	font-size: 16px
}

.font18 {
	font-size: 18px
}

.font20 {
	font-size: 20px
}

.font22 {
	font-size: 22px
}

.font24 {
	font-size: 24px
}

.font26 {
	font-size: 26px
}

.font28 {
	font-size: 28px
}

.font30 {
	font-size: 30px
}

.font32 {
	font-size: 32px
}

.font34 {
	font-size: 34px
}

.font36 {
	font-size: 36px
}

.font38 {
	font-size: 38px
}

.font40 {
	font-size: 40px
}

.font42 {
	font-size: 42px
}

.font44 {
	font-size: 44px
}

.font46 {
	font-size: 46px
}

.font48 {
	font-size: 48px
}

.font50 {
	font-size: 50px
}

.mtop0 {
	margin-top: 0 !important
}

.mtop1 {
	margin-top: 1px !important
}

.mtop2 {
	margin-top: 2px !important
}

.mtop3 {
	margin-top: 3px !important
}

.mtop4 {
	margin-top: 4px !important
}

.mtop5 {
	margin-top: 5px !important
}

.mtop6 {
	margin-top: 6px !important
}

.mtop7 {
	margin-top: 7px !important
}

.mtop8 {
	margin-top: 8px !important
}

.mtop9 {
	margin-top: 9px !important
}

.mtop10 {
	margin-top: 10px !important
}

.mtop11 {
	margin-top: 11px !important
}

.mtop12 {
	margin-top: 12px !important
}

.mtop13 {
	margin-top: 13px !important
}

.mtop14 {
	margin-top: 14px !important
}

.mtop15 {
	margin-top: 15px !important
}

.mtop16 {
	margin-top: 16px !important
}

.mtop17 {
	margin-top: 17px !important
}

.mtop18 {
	margin-top: 18px !important
}

.mtop19 {
	margin-top: 19px !important
}

.mtop20 {
	margin-top: 20px !important
}

.mtop21 {
	margin-top: 21px !important
}

.mtop22 {
	margin-top: 22px !important
}

.mtop23 {
	margin-top: 23px !important
}

.mtop24 {
	margin-top: 24px !important
}

.mtop25 {
	margin-top: 25px !important
}

.mtop26 {
	margin-top: 26px !important
}

.mtop27 {
	margin-top: 27px !important
}

.mtop28 {
	margin-top: 28px !important
}

.mtop29 {
	margin-top: 29px !important
}

.mtop30 {
	margin-top: 30px !important
}

.mtop31 {
	margin-top: 31px !important
}

.mtop32 {
	margin-top: 32px !important
}

.mtop33 {
	margin-top: 33px !important
}

.mtop34 {
	margin-top: 34px !important
}

.mtop35 {
	margin-top: 35px !important
}

.mtop36 {
	margin-top: 36px !important
}

.mtop37 {
	margin-top: 37px !important
}

.mtop38 {
	margin-top: 38px !important
}

.mtop39 {
	margin-top: 39px !important
}

.mtop40 {
	margin-top: 40px !important
}

.mtop41 {
	margin-top: 41px !important
}

.mtop42 {
	margin-top: 42px !important
}

.mtop43 {
	margin-top: 43px !important
}

.mtop44 {
	margin-top: 44px !important
}

.mtop45 {
	margin-top: 45px !important
}

.mtop46 {
	margin-top: 46px !important
}

.mtop47 {
	margin-top: 47px !important
}

.mtop48 {
	margin-top: 48px !important
}

.mtop49 {
	margin-top: 49px !important
}

.mtop50 {
	margin-top: 50px !important
}

.mtop51 {
	margin-top: 51px !important
}

.mtop52 {
	margin-top: 52px !important
}

.mtop53 {
	margin-top: 53px !important
}

.mtop54 {
	margin-top: 54px !important
}

.mtop55 {
	margin-top: 55px !important
}

.mtop56 {
	margin-top: 56px !important
}

.mtop57 {
	margin-top: 57px !important
}

.mtop58 {
	margin-top: 58px !important
}

.mtop59 {
	margin-top: 59px !important
}

.mtop60 {
	margin-top: 60px !important
}

.mtop61 {
	margin-top: 61px !important
}

.mtop62 {
	margin-top: 62px !important
}

.mtop63 {
	margin-top: 63px !important
}

.mtop64 {
	margin-top: 64px !important
}

.mtop65 {
	margin-top: 65px !important
}

.mtop66 {
	margin-top: 66px !important
}

.mtop67 {
	margin-top: 67px !important
}

.mtop68 {
	margin-top: 68px !important
}

.mtop69 {
	margin-top: 69px !important
}

.mtop70 {
	margin-top: 70px !important
}

.mtop71 {
	margin-top: 71px !important
}

.mtop72 {
	margin-top: 72px !important
}

.mtop73 {
	margin-top: 73px !important
}

.mtop74 {
	margin-top: 74px !important
}

.mtop75 {
	margin-top: 75px !important
}

.mtop76 {
	margin-top: 76px !important
}

.mtop77 {
	margin-top: 77px !important
}

.mtop78 {
	margin-top: 78px !important
}

.mtop79 {
	margin-top: 79px !important
}

.mtop80 {
	margin-top: 80px !important
}

.mtop81 {
	margin-top: 81px !important
}

.mtop82 {
	margin-top: 82px !important
}

.mtop83 {
	margin-top: 83px !important
}

.mtop84 {
	margin-top: 84px !important
}

.mtop85 {
	margin-top: 85px !important
}

.mtop86 {
	margin-top: 86px !important
}

.mtop87 {
	margin-top: 87px !important
}

.mtop88 {
	margin-top: 88px !important
}

.mtop89 {
	margin-top: 89px !important
}

.mtop90 {
	margin-top: 90px !important
}

.mtop91 {
	margin-top: 91px !important
}

.mtop92 {
	margin-top: 92px !important
}

.mtop93 {
	margin-top: 93px !important
}

.mtop94 {
	margin-top: 94px !important
}

.mtop95 {
	margin-top: 95px !important
}

.mtop96 {
	margin-top: 96px !important
}

.mtop97 {
	margin-top: 97px !important
}

.mtop98 {
	margin-top: 98px !important
}

.mtop99 {
	margin-top: 99px !important
}

.mtop100 {
	margin-top: 100px !important
}

@media(min-width:768px) {
	.font-md16 {
		font-size: 16px
	}

	.font-md18 {
		font-size: 18px
	}

	.font-md25 {
		font-size: 25px
	}

	.font-md20 {
		font-size: 20px
	}

	.font-md22 {
		font-size: 22px
	}

	.font-md24 {
		font-size: 24px
	}

	.font-md26 {
		font-size: 26px
	}

	.font-md28 {
		font-size: 28px
	}

	.font-md30 {
		font-size: 30px
	}

	.font-md32 {
		font-size: 32px
	}

	.font-md34 {
		font-size: 34px
	}

	.font-md35 {
		font-size: 35px
	}

	.font-md36 {
		font-size: 36px
	}

	.font-md38 {
		font-size: 38px
	}

	.font-md40 {
		font-size: 40px
	}

	.font-md42 {
		font-size: 42px
	}

	.font-md44 {
		font-size: 44px
	}

	.font-md45 {
		font-size: 45px
	}

	.font-md46 {
		font-size: 46px
	}

	.font-md48 {
		font-size: 48px
	}

	.font-md50 {
		font-size: 50px
	}

	.font-md52 {
		font-size: 52px
	}

	.font-md54 {
		font-size: 54px
	}

	.font-md55 {
		font-size: 55px
	}

	.font-md56 {
		font-size: 56px
	}

	.font-md58 {
		font-size: 58px
	}

	.font-md60 {
		font-size: 60px
	}

	.font-md62 {
		font-size: 62px
	}

	.font-md64 {
		font-size: 64px
	}

	.font-md65 {
		font-size: 65px
	}

	.font-md66 {
		font-size: 66px
	}

	.font-md68 {
		font-size: 68px
	}

	.font-md70 {
		font-size: 70px
	}

	.font-md72 {
		font-size: 72px
	}

	.font-md74 {
		font-size: 74px
	}

	.font-md75 {
		font-size: 75px
	}

	.font-md78 {
		font-size: 78px
	}

	.font-md80 {
		font-size: 80px
	}

	.font-md85 {
		font-size: 85px
	}

	.font-md120 {
		font-size: 120px
	}

	.mtop-md0 {
		margin-top: 0 !important
	}

	.mtop-md1 {
		margin-top: 1px !important
	}

	.mtop-md2 {
		margin-top: 2px !important
	}

	.mtop-md3 {
		margin-top: 3px !important
	}

	.mtop-md4 {
		margin-top: 4px !important
	}

	.mtop-md5 {
		margin-top: 5px !important
	}

	.mtop-md6 {
		margin-top: 6px !important
	}

	.mtop-md7 {
		margin-top: 7px !important
	}

	.mtop-md8 {
		margin-top: 8px !important
	}

	.mtop-md9 {
		margin-top: 9px !important
	}

	.mtop-md10 {
		margin-top: 10px !important
	}

	.mtop-md11 {
		margin-top: 11px !important
	}

	.mtop-md12 {
		margin-top: 12px !important
	}

	.mtop-md13 {
		margin-top: 13px !important
	}

	.mtop-md14 {
		margin-top: 14px !important
	}

	.mtop-md15 {
		margin-top: 15px !important
	}

	.mtop-md16 {
		margin-top: 16px !important
	}

	.mtop-md17 {
		margin-top: 17px !important
	}

	.mtop-md18 {
		margin-top: 18px !important
	}

	.mtop-md19 {
		margin-top: 19px !important
	}

	.mtop-md20 {
		margin-top: 20px !important
	}

	.mtop-md21 {
		margin-top: 21px !important
	}

	.mtop-md22 {
		margin-top: 22px !important
	}

	.mtop-md23 {
		margin-top: 23px !important
	}

	.mtop-md24 {
		margin-top: 24px !important
	}

	.mtop-md25 {
		margin-top: 25px !important
	}

	.mtop-md26 {
		margin-top: 26px !important
	}

	.mtop-md27 {
		margin-top: 27px !important
	}

	.mtop-md28 {
		margin-top: 28px !important
	}

	.mtop-md29 {
		margin-top: 29px !important
	}

	.mtop-md30 {
		margin-top: 30px !important
	}

	.mtop-md31 {
		margin-top: 31px !important
	}

	.mtop-md32 {
		margin-top: 32px !important
	}

	.mtop-md33 {
		margin-top: 33px !important
	}

	.mtop-md34 {
		margin-top: 34px !important
	}

	.mtop-md35 {
		margin-top: 35px !important
	}

	.mtop-md36 {
		margin-top: 36px !important
	}

	.mtop-md37 {
		margin-top: 37px !important
	}

	.mtop-md38 {
		margin-top: 38px !important
	}

	.mtop-md39 {
		margin-top: 39px !important
	}

	.mtop-md40 {
		margin-top: 40px !important
	}

	.mtop-md41 {
		margin-top: 41px !important
	}

	.mtop-md42 {
		margin-top: 42px !important
	}

	.mtop-md43 {
		margin-top: 43px !important
	}

	.mtop-md44 {
		margin-top: 44px !important
	}

	.mtop-md45 {
		margin-top: 45px !important
	}

	.mtop-md46 {
		margin-top: 46px !important
	}

	.mtop-md47 {
		margin-top: 47px !important
	}

	.mtop-md48 {
		margin-top: 48px !important
	}

	.mtop-md49 {
		margin-top: 49px !important
	}

	.mtop-md50 {
		margin-top: 50px !important
	}

	.mtop-md51 {
		margin-top: 51px !important
	}

	.mtop-md52 {
		margin-top: 52px !important
	}

	.mtop-md53 {
		margin-top: 53px !important
	}

	.mtop-md54 {
		margin-top: 54px !important
	}

	.mtop-md55 {
		margin-top: 55px !important
	}

	.mtop-md56 {
		margin-top: 56px !important
	}

	.mtop-md57 {
		margin-top: 57px !important
	}

	.mtop-md58 {
		margin-top: 58px !important
	}

	.mtop-md59 {
		margin-top: 59px !important
	}

	.mtop-md60 {
		margin-top: 60px !important
	}

	.mtop-md61 {
		margin-top: 61px !important
	}

	.mtop-md62 {
		margin-top: 62px !important
	}

	.mtop-md63 {
		margin-top: 63px !important
	}

	.mtop-md64 {
		margin-top: 64px !important
	}

	.mtop-md65 {
		margin-top: 65px !important
	}

	.mtop-md66 {
		margin-top: 66px !important
	}

	.mtop-md67 {
		margin-top: 67px !important
	}

	.mtop-md68 {
		margin-top: 68px !important
	}

	.mtop-md69 {
		margin-top: 69px !important
	}

	.mtop-md70 {
		margin-top: 70px !important
	}

	.mtop-md71 {
		margin-top: 71px !important
	}

	.mtop-md72 {
		margin-top: 72px !important
	}

	.mtop-md73 {
		margin-top: 73px !important
	}

	.mtop-md74 {
		margin-top: 74px !important
	}

	.mtop-md75 {
		margin-top: 75px !important
	}

	.mtop-md76 {
		margin-top: 76px !important
	}

	.mtop-md77 {
		margin-top: 77px !important
	}

	.mtop-md78 {
		margin-top: 78px !important
	}

	.mtop-md79 {
		margin-top: 79px !important
	}

	.mtop-md80 {
		margin-top: 80px !important
	}

	.mtop-md81 {
		margin-top: 81px !important
	}

	.mtop-md82 {
		margin-top: 82px !important
	}

	.mtop-md83 {
		margin-top: 83px !important
	}

	.mtop-md84 {
		margin-top: 84px !important
	}

	.mtop-md85 {
		margin-top: 85px !important
	}

	.mtop-md86 {
		margin-top: 86px !important
	}

	.mtop-md87 {
		margin-top: 87px !important
	}

	.mtop-md88 {
		margin-top: 88px !important
	}

	.mtop-md89 {
		margin-top: 89px !important
	}

	.mtop-md90 {
		margin-top: 90px !important
	}

	.mtop-md91 {
		margin-top: 91px !important
	}

	.mtop-md92 {
		margin-top: 92px !important
	}

	.mtop-md93 {
		margin-top: 93px !important
	}

	.mtop-md94 {
		margin-top: 94px !important
	}

	.mtop-md95 {
		margin-top: 95px !important
	}

	.mtop-md96 {
		margin-top: 96px !important
	}

	.mtop-md97 {
		margin-top: 97px !important
	}

	.mtop-md98 {
		margin-top: 98px !important
	}

	.mtop-md99 {
		margin-top: 99px !important
	}

	.mtop-md100 {
		margin-top: 100px !important
	}
}

.l100 {
	line-height: 100%
}

.l110 {
	line-height: 110%
}

.l120 {
	line-height: 120%
}

.l130 {
	line-height: 130%
}

.l140 {
	line-height: 140%
}

.lh150 {
	line-height: 150%
}

.l160 {
	line-height: 160%
}

.l170 {
	line-height: 170%
}

.l180 {
	line-height: 180%
}

.l200 {
	line-height: 200%
}

.weight300 {
	font-weight: 300 !important
}

.weight400 {
	font-weight: 400 !important
}

.weight500 {
	font-weight: 500 !important
}

.weight600 {
	font-weight: 600 !important
}

.weight700 {
	font-weight: 700 !important
}

.weight800 {
	font-weight: 800 !important
}

.weight900 {
	font-weight: 900 !important
}

.relative {
	position: relative;
}


.cavet {
	font-family: 'Caveat', cursive;
}

.bg-light-yellow {
	background-color: rgba(255, 249, 235);
}

.bg-light-pink {
	background-color: rgb(250 244 255);
}

.feature-wrap {
	padding: 15px 0;
}

ul.feature-lists {
	margin: 0px;
	padding: 0px;
}

ul.feature-lists li {
	list-style: none;
	background: url(../images/top-voice-search.png) no-repeat top left;
	padding-left: 35px;
	background-size: 25px;
}

ul.feature-lists li p {
	color: #000;
	margin-bottom: 17px;
	font-size: 18px !important;
}

ul.feature-lists.list-dark li p {
	color: #000;
}

ul.feature-lists li:last-child {
	margin-bottom: 0px;
}

ul.feature-lists-lg {
	margin: 0px;
	padding: 0px;
}

ul.feature-lists-lg li {
	list-style: none;
	background: url(../images/top-voice-search.png) no-repeat center left;
	padding-left: 70px;
	margin-bottom: 25px;
}

ul.feature-lists-lg li:last-child {
	margin-bottom: 0px;
}

.borderline {
	border-bottom: solid 1px #ffca2c;
}

/* feature-wrap1 */

.feature-wrap1 {
	padding: 15px 0;
}

ul.feature-lists1 {
	margin: 0px;
	padding: 0px;
}

ul.feature-lists1 li {
	list-style: none;
	background: url(../images/cancelmark.png) no-repeat top left;
	padding-left: 40px;
	background-size: 30px;
}

ul.feature-lists1 li p {
	color: #000;
}

ul.feature-lists1.list-dark li p {
	color: #000;
}

ul.feature-lists1 li:last-child {
	margin-bottom: 0px;
}

ul.feature-lists1-lg {
	margin: 0px;
	padding: 0px;
}

ul.feature-lists1-lg li {
	list-style: none;
	background: url(../images/tick-lg.html) no-repeat center left;
	padding-left: 70px;
	margin-bottom: 25px;
}

ul.feature-lists1-lg li:last-child {
	margin-bottom: 0px;
}

@media (max-width: 767px) {

	.f-mobile {
		display: block !important;
	}

	.f-desktop {
		display: none !important;
	}
}

/* feature-wrap2 */

.feature-wrap2 {
	padding: 15px 0;
}

ul.feature-lists2 {
	margin: 0px;
	padding: 0px;
}

ul.feature-lists2 li {
	list-style: none;
	background: url(../images/checkmark.png) no-repeat top left;
	background-size: auto;
	padding-left: 40px;
	background-size: 28px;
	padding-bottom: 2px;
}

ul.feature-lists2 li p {
	color: #fff;
}

ul.feature-lists2.list-dark li p {
	color: #000;
}

ul.feature-lists2 li:last-child {
	margin-bottom: 0px;
}

ul.feature-lists2-lg {
	margin: 0px;
	padding: 0px;
}

ul.feature-lists2-lg li {
	list-style: none;
	background: url(../images/tick-lg.html) no-repeat center left;
	padding-left: 70px;
	margin-bottom: 25px;
}

ul.feature-lists2-lg li:last-child {
	margin-bottom: 0px;
}








/* Header End */


/* Action Link */
a.action-link {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px;
	font-weight: 700;
	font-size: 27px;
	line-height: 30px;
	color: #fff;
	border-radius: 10px;
	transition: all 0.5s;
	background-color: rgb(113, 23, 255);
	border: 1px solid rgba(255, 255, 255, 0.3);
	overflow: hidden;
	position: relative;
	z-index: 1;
	transition: all 0.5s;
	background-image: -moz-linear-gradient(180deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);
	background-image: -webkit-linear-gradient(180deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);
	background-image: -ms-linear-gradient(180deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);
}
.text-blue1 {
	color: #4FFF00 !important;
  }
/* a.action-link:after {
	content: '';
	position: absolute;
	top: -20px;
	left: -60px;
	background-color: #fff;
	width: 5px;
	height: calc(100% + 60px);
	z-index: -1;
	transform: rotate(23deg);
	transition: all 0.5s;
}

a.action-link:hover:after {
	transition: all 0.5s;
	left: calc(100% + 40px);
} */

a.action-link:hover {
	background-image: -moz-linear-gradient(0deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);
	background-image: -webkit-linear-gradient(0deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);
	background-image: -ms-linear-gradient(0deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);
}

/* Css For Timer Display */

.main {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.item {
	margin: 10px 5px 0 0;
	width: 100%;
	border-radius: 100%;
	position: relative;
	width: 75px;
	height: 75px;
	min-width: 75px;
	min-height: 75px;
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	background: #EDEDED;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item::before {
	content: ':';
	position: absolute;
	z-index: 9;
	right: -25px;
	color: #f01236;
	font-size: 60px;
	top: -10px;
	display: none;
}

.main .item:last-child {
	margin-right: 0px;
}

.main .item:last-child::before {
	content: none;
}

.item .count_down {
	font-weight: 600 !important;
	line-height: 100%;
	width: 100%;
	float: left;
	color: #000000;
	font-size: 24px;
	padding: 0px;
	margin: 0px;

}

.item h4 {
	font-weight: 400 !important;
	line-height: 120%;
	color: #000;
	font-size: 11px;
	padding: 0px;
	margin: 0px;

}

.item h4.line {
	border-top: 1px solid #fff;
	padding-top: 10px;
	margin-top: 5px;
	width: 100%;
	text-transform: uppercase;
}


.cta-secure {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	flex-direction: column;
	justify-content: center;
}

.hurry {
	border-radius: 6px;
	background-color: rgb(255, 0, 0);
	padding: 2px 5px;
	display: inline-block;
}

.price-increase {
	border-radius: 6px;
	background-color: rgb(15, 38, 58);
	display: inline-block;
	padding: 10px 30px;
}

.timer-bg {
	background: #131c23;
	padding-top: 15px;
	border-radius: 15px;
}

@media (min-width:768px) {
	.item {
		margin-right: 20px;
		width: 100px;
		height: 100px;
		min-width: 100px;
		min-height: 100px;

	}

	.item .count_down {
		font-size: 36px;
	}

	.item h4 {
		font-size: 16px;
	}

	.cta-secure {
		gap: 40px;
		flex-direction: row;
		justify-content: center;
	}

	a.action-link {
		padding: 30px 50px;
		font-size: 38px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		flex-direction: row;
		line-height: 36px;
		border-radius: 65px;
	}
	 a.action-link {
        padding: 30px 30px;
		font-size: 30px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		flex-direction: row;
		line-height: 36px;
		border-radius: 65px;
	}
}

/* Action Link End */

/* CTA Section */
.cta-section {
	padding: 30px 0px;
	background: url(../images/cta-section.png) no-repeat center center / cover;
}

.cta-wrap {
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.10);
	box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.50);
	overflow: hidden;
	padding: 0px 20px 20px 20px;
	height: 100%;
}

.cta-wrap-title {
	border-radius: 15px 15px 0px 0px;
	background: rgba(255, 255, 255, 0.10);
	padding: 10px;
	color: #02301A;
	width: calc(100% + 40px);
	margin-left: -20px;
}

.cta-title {
	border-radius: 15px;
	background: #021D30;
	display: inline-block;
	padding: 10px;
}

.cta-price {
	background: linear-gradient(180deg, #FFE24B 0%, #FFF 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 60px !important;
	line-height: 70px;
}

@media (min-width:768px) {
	.cta-section {
		padding: 100px 0px;
	}

	.cta-title {
		padding: 10px 15px;
	}

	.cta-price {
		font-size: 150px !important;
		line-height: 140px;
	}

	.cta-wrap-title {
		padding: 15px;
	}

}

/* CTA Section End */

/* timers css and */


/* Action Link End */
.cta-bg {


	background-size: auto;
	background-size: auto;
	background-size: cover;
	overflow: hidden;
	color: #fff;
	padding: 30px;
	background-image: url(../images/sfyd.png);
	/* background-color: #8965E3; */
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;

	padding: 30px 30px;

	box-shadow: 0px 8px 30px 0px rgba(24, 23, 62, 0.2);
	overflow: hidden;
}

.cta-padding {
	padding: 20px 20px 0px 20px;
}

.live-section {
	padding: 30px 0px;
	background-size: cover;
	z-index: 9;
}

.live-section .media {
	margin: 50px 0;
}

.contents {
	border-radius: 15px;
	background-color: rgb(42, 55, 90);
	padding: 10px 30px;
	display: inline-flex;
	gap: 20px;
	align-items: center;
}


.live-section {
	padding: 100px 0px;

}


.problem-section {
	padding: 30px 0px;
	background: #ecf2ff;
}

.problem-section {
	padding: 100px 0px 100px 0px;
	background: url(../images/problem-section.html) no-repeat top center;
	background-size: cover;
}

.problem-shape {
	padding: 15px 90px;
}

.arrow {
	position: absolute;
	right: 85px;
	top: 145px;
}


.feature-section {
	padding: 30px 0px;
	background: #ffffff;
}

.feature-section1 {
	padding: 30px 0px;
	background: #fff7ff;
}

.feature-section2 {
	padding: 30px 0px 0px 0px;
	background: url(../images/feature-section2.html) no-repeat center center;
	background-size: cover;
}

ul.point-lists {
	margin: 0px;
	padding: 0px;
}

ul.point-lists li {
	list-style: none;
	background: url(../images/tick.png) no-repeat top left;
	padding-left: 40px;
	margin-bottom: 25px;
}

.f-block {
	border-radius: 50px;
	background: #cde7f3;
	padding: 20px;
}

.f-white {
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 30px 0px rgba(21, 83, 192, 0.2);
	padding: 20px;
}


.feature-section {
	padding: 100px 0px;
}

.feature-section1 {
	padding: 100px 0px;
}

.feature-section2 {
	padding: 0px 0px 0px 0px;
}

.f-block {
	padding: 30px 50px;
	margin-top: -100px;
}

.f-white {
	padding: 30px 40px;
}

.intro-section {
	padding: 30px 0px 130px 0px;
	background: #04163f;
	z-index: 9;
}

.intro-shape {
	display: inline-block;
	padding: 20px;
	border-radius: 50px;
	background: rgba(10, 41, 111, 0.302);
}

.intro-section {
	padding: 100px 0px 200px 0px;
	background: url(../images/intro-section.html) no-repeat top center;
	background-size: cover;
}

.intro-shape {
	padding: 50px 30px;
}


.imagine-section {
	background: url(../images/imagine-bg.html) no-repeat center center;
	background-size: contain;
	z-index: 9;
}

/* .content {
	border-radius: 30px;
	background-color: rgb(238, 243, 255);
	box-shadow: 0.14px 7.999px 0px 0px rgba(21, 83, 192, 0.2);
	padding: 20px;
} */

.imagine-block {
	background: url(../images/imagine.png) no-repeat center center;
	background-size: 100% 100%;
	border-radius: 50px;
	padding: 20px;
	margin-top: -100px;
}

.imgtitle {
	border-radius: 15px;
	background-color: rgb(255, 246, 0);
	padding: 15px;
	display: inline-block;
}

.imgblock {
	border-width: 1px;
	border-style: solid;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.039);
	border-color: #4b5884;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding: 30px;
	height: 100%;

}

.imagine-block {
	border-radius: 50px;
	padding: 50px;
}

.imgtitle {
	padding: 15px 30px;
}



.bonus-section {
	background: #ffffff;
	padding: 30px 0px;
}

.bonus-heading {
	border-radius: 30px;
	background-color: rgb(222, 255, 211);
	display: inline-block;
	padding: 5px 20px;
}

.bonus-number {
	background-color: rgb(255, 236, 159);
	display: inline-block;
	padding: 10px 30px;
	border-radius: 65px;
}

.bonus-grey {
	background: #eef5ff;
	padding: 20px;
	border-radius: 20px;
}

.bonus-section {
	background: #ffffff;
	padding: 100px 0px;
}

@media (min-width:1400px) {
	.bonus-grey {
		background: url(../images/bonus-grey.html) no-repeat center center;
		background-size: 100% 100%;
		width: calc(100% + 200px);
		margin-left: -100px;
		padding: 100px 100px;
	}
}

.trip-section {
	padding: 30px 0px;
	background: #e1f1ff;
}

.trip-title {
	border-radius: 30px;
	background-color: rgb(236, 211, 255);
	display: inline-block;
	padding: 15px;

}

.trip-section {
	padding: 62px 0px;
	background: #e1f1ff url(../images/trip-section.html) no-repeat center right;
	background-size: contain;
}

.money-section {
	padding: 30px 0px 30px 0px;
	background: #ffe3c8;
}

.upgrade {
	border-radius: 50px;
	background-color: rgb(52, 57, 77);
	padding: 20px 20px 0px 20px;
}

.orderwhite {
	border-bottom: solid 1px #ffffff;
}

.upgrade-section {
	position: relative;
	padding-bottom: 30px;
}

.upgrade-section .robot-img {
	position: absolute;
	top: 10%;
	right: 50px;
}

.upgrade-section .robot-img img {
	width: 100%;
	height: auto;
	max-width: 200px;
}

.money-section {
	padding: 200px 0px 100px 0px;
	background: url(../images/money-bg.html) no-repeat center top;
	background-size: cover;
}

.upgrade {
	padding: 50px 100px;
}

.upgrade-section {
	padding-bottom: 100px;
}

ul.content-lists li:last-child {
	margin-bottom: 0px;
}

.upgrades {
	border-radius: 30px;
	background-color: rgb(52, 174, 40);
	display: inline-block;
	padding: 15px;

}

/* Footer */
.footer-section {
	padding: 30px 0px;
	background: #000000;
	color: #fff;

}


ul.legal-link {
	margin: 0px;
	padding: 0px;
}

ul.legal-link li {
	margin: 3px;
	display: inline-flex;
}

ul.legal-link li a {
	text-decoration: none;
	color: #fff;
}

.footer-section .terms {
	font-size: 18px;
	font-weight: 300;
	line-height: 160%;
	color: #fff;
}

.footer-section {
	padding: 80px 0px;
}

ul.legal-link li {
	margin: 10px;
	display: inline-flex;
}


/* Footer End */


/*Modal Pop-Up Start*/
#ouibounce-modal .modal-header h5 span {
	font-size: 25px;
}

#ouibounce-modal .modal-header h5 {
	text-align: center;
	width: 100%;
	font-size: 72px;
	line-height: 65px;
	color: #fff;
	font-weight: 700;
	letter-spacing: -3px;
}

#ouibounce-modal .modal-header h5 {
	text-align: center;
	width: 100%;
	font-size: 72px;
	line-height: 65px;
	color: #fff;
	font-weight: 700;
	font-family: 'Fjalla One', sans-serif !important;
}

@media screen and (max-width: 991px) {
	#ouibounce-modal .modal-header h5 {
		font-size: 30px;
	}
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px 15px;
	border-bottom: 0 solid #dee2e6;
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
}

#ouibounce-modal .modal-header {
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px;
	background-color: rgb(255, 0, 0);
	outline: none;
}

#ouibounce-modal .modal-body {
	padding: 1rem 1rem 2rem;
	position: relative;
	flex: 1 1 auto;
	padding: 2rem 0.5rem;
	margin-top: -10px;
}

.btn_custom_set1 {
	color: #fff;
	text-decoration: none;
	padding: 30px 50px;
	border-radius: 60px;
	transition: all 0.5s ease;
	display: inline-block;
	line-height: 26px;
	background-image: -moz-linear-gradient(-45deg, rgb(58, 67, 208) 0%, rgb(108, 116, 247) 100%);
	background-image: -webkit-linear-gradient(-45deg, rgb(58, 67, 208) 0%, rgb(108, 116, 247) 100%);
	background-image: -ms-linear-gradient(-45deg, rgb(58, 67, 208) 0%, rgb(108, 116, 247) 100%);
}

.btn_custom_set1:hover {
	color: #fff;
	text-decoration: none;
	padding: 30px 50px;
	border-radius: 60px;
	transition: all 0.5s ease;
	display: inline-block;
	line-height: 26px;
	background-image: -moz-linear-gradient(90deg, rgb(108, 116, 247) 100%, rgb(58, 67, 208) 0%);
	background-image: -webkit-linear-gradient(90deg, rgb(108, 116, 247) 100%, rgb(58, 67, 208) 0%);
	background-image: -ms-linear-gradient(90deg, rgb(108, 116, 247) 100%, rgb(58, 67, 208) 0%);
}

.btn_custom_set1 span {
	font-size: 16px;
	font-weight: lighter;
}

#ouibounce-modal .modal-body h2 {
	text-align: center;
	font-size: 25px;
	color: #212529;
	margin-bottom: 0.5rem;
	font-family: "Fjalla One", Helvetica, sans-serif !important;
	font-weight: 700;
	line-height: 1.2;
}

#ouibounce-modal .modal-body h3 {
	text-align: center;
	margin-bottom: 0.5rem;
	font-family: montserrat, -apple-system, BlinkMacSystemFont, segoe ui,
		Roboto, helvetica neue, Arial, noto sans, sans-serif,
		apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
	font-weight: 700;
	line-height: 1.2;
}

.setcolo {
	color: #0c4394;
}

.myfontmain {
	font-size: 45px !important;
	font-family: 'Poppins', sans-serif !important;
	font-weight: bold !important;

}

#ouibounce-modal .modal-header .close {
	border-radius: 50%;
	padding: 5px 8px;
	background-color: #f4eeee;
	opacity: 1;
	color: #fff;
	margin: -29px -23px 0.9rem auto;
	border: 2px solid #fff;
}

.banner-popup .close {
	position: absolute;
	top: -13px;
	z-index: 99;
	background: #000000;
	opacity: 1;
	border: 3px solid white;
	width: 37px;
	height: 37px;
	line-height: 22px;
	border-radius: 50%;
	right: -13px;
	color: #fff;
}
@media (max-width: 400px) {
	.banner-popup .close {
	  position: absolute;
	  top: -13px;
	  z-index: 99;
	  background: #000000;
	  opacity: 1;
	  border: 3px solid white;
	  width: 37px;
	  height: 37px;
	  line-height: 22px;
	  border-radius: 50%;
	  right: -5px;
	  color: #fff;
	}
  }
button.close {
	padding: 0;
	border: 0;

}

.close span {
	font-size: 30px;
	font-weight: 700;
}

a.nothank {
	color: #ff5151;
	text-decoration: none;
}

a.nothank1 {
	color: #000000;
	text-decoration: none;
}

.coupon {
	background: rgb(23, 189, 255);
	padding: 10px 15px;
	display: inline-block;
	margin: 15px 0px 0 0;
	color: #fff;
}

.banner-popup {
	background: rgba(0, 0, 0, 0.8);
	top: 0px !important;
	padding-top: 60px;
}
@media (max-width: 991px) {
	.text-xl {
	  font-size: 50px !important;
	  line-height: 1.3;
	  margin-bottom: 25px;
	}
  }
  @media screen and (max-width: 576px) {
	.text-lg {
	  font-size: 50px !important;
	  line-height: 1.3;
	  margin-bottom: 25px;
	}
	#ouibounce-modal .modal-header {
		padding-top: 20px;
		padding-bottom: 20px;
	  }
	  #ouibounce-modal .modal-body {
		margin-top: -40px;
	  }
  }
  @media screen and (max-width: 991px) {
	.text-lg {
	  font-size: 35px !important;
	  line-height: 1.3;
	  margin-bottom: 25px;
	}
  }

/*Modal Pop-Up End*/

@media (min-width: 576px) {
	.modal-dialog {
		margin: 0 auto !important;
	}
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive-16by9::before {
	padding-top: 56.25%;
}

.embed-responsive::before {
	display: block;
	content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.text-blue1 {
	color: #2000FF;
  }
.box_btn {
	background: linear-gradient(#01d95a, #00a3c0) padding-box, linear-gradient(to right, #01d255, #00accf) border-box;
	padding: 10px 0;
	color: #fff !important;
}

.box_btn-flex {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	flex-direction: row;
}

.box_btn-flex {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: center;
	flex-direction: row;
}

.box_btn1 {
	background-color: red;
	padding: 20px 0;
	color: #fff !important;
  }
@media (min-width: 576px) {
	.modal-dialog {
		margin: 0 auto !important;
	}
}

a.yes-btn {
	border-radius: 15px;
	background-color: rgb(52, 174, 40);
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #ffffff;
}

a.nothanks-btn {
	border-radius: 15px;
	background-color: #ff5151;
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #ffffff;
}

.timer-section.style-2 {
	margin-top: 0;
	position: relative;
	margin-bottom: -2px;
	border-radius: 30px 30px 0 0;
}

.timer-box-wrapper {
	position: relative;
	background-color: #343a4d;
}

.timer-box-wrapper:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	background-color: #fff;
}

.timer-section .timmer-vector {
	position: absolute;
	right: -100px;
	top: 10%;
	z-index: -1;
}

.timer-section .timmer-vector img {
	width: 250px;
	height: auto;
	object-fit: contain;
}

.timer-section {
	padding: 50px 80px;
	background: url(../images/timer.html) no-repeat center top;
	background-size: cover;
	margin-top: -150px;
	z-index: 999999;
	position: relative;
	margin-bottom: -2px;
	border-radius: 30px 30px 0 0;
}

.img-sm-width {
	margin-right: auto;
	margin-left: auto;
	max-width: 550px;
}

/* Animation */

.move-1 {
	-webkit-animation: move1 5s infinite;
	animation: move1 5s infinite;
}

.move-2 {
	-webkit-animation: move2 5s infinite;
	animation: move2 5s infinite;
}

.move-3 {
	-webkit-animation: move3 5s infinite;
	animation: move3 5s infinite;
}

.move-4 {
	-webkit-animation: move4 5s infinite;
	animation: move4 5s infinite;
}

@-webkit-keyframes move4 {
	0% {
		-webkit-transform: translate(0, -5px);
		transform: translate(0, -5px);
	}

	50% {
		-webkit-transform: translate(0, 5px);
		transform: translate(0, 5px);
	}

	100% {
		-webkit-transform: translate(0, -5px);
		transform: translate(0, -5px);
	}
}

@-webkit-keyframes move1 {
	0% {
		-webkit-transform: rotate(-1deg) translate(-2px, -2px);
		transform: rotate(-1deg) translate(-2px, -2px);
	}

	50% {
		-webkit-transform: rotate(1deg) translate(2px, 2px);
		transform: rotate(1deg) translate(2px, 2px);
	}

	100% {
		-webkit-transform: rotate(-1deg) translate(-2px, -2px);
		transform: rotate(-1deg) translate(-2px, -2px);
	}
}

@keyframes move1 {
	0% {
		-webkit-transform: rotate(-1deg) translate(-2px, -2px);
		transform: rotate(-1deg) translate(-2px, -2px);
	}

	50% {
		-webkit-transform: rotate(1deg) translate(2px, 2px);
		transform: rotate(1deg) translate(2px, 2px);
	}

	100% {
		-webkit-transform: rotate(-1deg) translate(-2px, -2px);
		transform: rotate(-1deg) translate(-2px, -2px);
	}
}

@-webkit-keyframes move2 {
	0% {
		-webkit-transform: rotate(1deg) translate(2px, 2px);
		transform: rotate(1deg) translate(2px, 2px);
	}

	50% {
		-webkit-transform: rotate(-1deg) translate(-2px, -2px);
		transform: rotate(-1deg) translate(-2px, -2px);
	}

	100% {
		-webkit-transform: rotate(1deg) translate(2px, 2px);
		transform: rotate(1deg) translate(2px, 2px);
	}
}

@-webkit-keyframes move3 {
	0% {
		transform: translate(0, 0);
	}

	20% {
		transform: translate(5px, 0);
	}

	40% {
		transform: translate(5px, 5px);
	}

	65% {
		transform: translate(0, 5px);
	}

	65% {
		transform: translate(5px, 0);
	}

	100% {
		transform: translate(0, 0);
	}
}


/* Typhography Start */

h1 {
	font-size: 50px;
	line-height: 1.3;
	margin-bottom: 25px;
	font-weight: 600;
}

h2 {
	font-size: 40px;
	line-height: 1;
	margin-bottom: 25px;
	font-weight: 600;
}

h3 {
	font-size: 35px;
	line-height: 1.3;
	margin-bottom: 15px;
	font-weight: 600;
}

h4 {
	font-size: 30px;
	line-height: 1.3;
	margin-bottom: 10px;
	font-weight: 600;
}

h5 {
	font-size: 25px;
	line-height: 1.3;
	margin-bottom: 10px;
	font-weight: 600;
}

h6 {
	font-size: 20px;
	line-height: 1.3;
	margin-bottom: 10px;
	font-weight: 600;
}

/* p {
	font-size: 20px !important;
	line-height: 1.3;
	margin-bottom: 24px;
	font-weight: 600;
} */

p {
	font-size: 20px !important;
	line-height: 1.3;
	margin-bottom: 24px;
	font-weight: 600px;
}

.text-xl {
	font-size: 100px !important;
	line-height: 1.3;
	margin-bottom: 25px;
}

.text-lg {
	font-size: 75px !important;
	line-height: 1.3;
	margin-bottom: 25px;
}

@media screen and (max-width: 991px) {
	h1 {
		font-size: 40px;
		line-height: 1.3;
		margin-bottom: 25px;
	}

	h2 {
		font-size: 35px;
		line-height: 1.3;
		margin-bottom: 25px;
	}

	h3 {
		font-size: 25px;
	}

	h6 {
		font-size: 18px;
	}

	.text-xl {
		font-size: 40px !important;
		line-height: 1.3;
		margin-bottom: 25px;
	}

	.text-lg {
		font-size: 35px !important;
		line-height: 1.3;
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 567px) {
	.text-xl {
		font-size: 30px;
		line-height: 1.3;
		margin-bottom: 25px;
	}

	.text-lg {
		font-size: 25px;
		line-height: 1.3;
		margin-bottom: 25px;
	}
}

.text-sm {
	font-size: 14px !important;
	line-height: 1.3;
	margin-bottom: 15px;
}

/* Typhography End */

/* ===== selection ===== */
::-moz-selection {
	/* Code for Firefox */
	background: var(--primary) !important;
}

::selection {
	background: var(--primary) !important;
}


/* Color Start*/
:root {
	--primary: #013F92;
	--primary-light: #00A8E9;
	--primary-dark: #0061FE;
	--primary-hover: #0094FF;
	--secondary: #FF6969;
	--secondary-hover: #ec3960;
}

/* Color End*/


/* Text Color */

.text-primary {
	color: var(--primary) !important;
}

.text-primary-dark {
	color: var(--primary-dark) !important;
}

.text-primary-light {
	color: var(--primary-light) !important;
}

.text-secondary {
	color: var(--secondary) !important;
}

.text-blue {
	color: #00d3ff !important;
}

.text-red {
	color: #F76634 !important;
}

.text-yellow {
	color: #ffca2c !important;
}

.text-light-yallow {
	color: #FAFF00 !important;
}

.text-danger {
	color: #FF0000 !important;
}

/* Text Color */


/* bg color */

.bg-primary {
	background-color: var(--primary) !important;
}

.bg-primary-light {
	background-color: var(--primary-light) !important;
}

.bg-primary-dark {
	background-color: var(--primary-dark) !important;
}

.bg-secondary {
	background-color: var(--secondary) !important;
}

.bg-pink-light {
	background-color: #F8E8DE;
}

.bg-dark-1 {
	background-color: #26303B;
}

/* bg-color */


/* Custom Pre-Define */


.text-del {
	text-decoration: line-through;
}

.btn.btn-yellow {
	background-color: #FFEF5C;
	font-weight: 800;
}

.btn.btn-lg {
	padding: 15px 30px;
}

.bg-grey {
	background-color: #EBF3FF;
}

.bg-light-grey {
	background-color: #F0FCFF;
}


.bg-pink {
	background-color: #FF6969;
}

.bg-blue {
	background-color: #4769E3;
}

.bg-purple {
	background-color: #573FE9;
}

.shadow {
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%) !important;
}

.font-2 {
	font-family: Oregano;
}



ul.feature-faq li {
	list-style: none;
	background: url(../images/faq.html) no-repeat top left;
	padding-left: 40px;
	background-size: 40px;
	margin-top: 40px;
}

ul.feature-faq li p {
	color: #fff;
}

ul.feature-faq li:last-child {
	margin-bottom: 0px;
}


.btn-group-lg>.btn,
.btn-lg {
	padding: 0.5rem 1rem;
	font-size: 1.15rem;
	border-radius: 0.3rem;
}

/* content-inner */
.content-inner {
	padding: 50px 0;
}

.content-inner-2 {
	padding: 40px 0 0 0;
}

.content-inner-3 {
	padding: 50px 0 120px;
}

.sp-1 {
	background: url(../images/shape-1.png) no-repeat center bottom;
	background-size: cover;
	display: inline-block;
	padding: 15px 65px;
}

.head-title {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	margin-bottom: 50px;
}

.head-title h3,
.head-title h4 {
	font-weight: 700;
}

.text-success {
	color: #42FF00 !important;
}

.text-primary {
	color: #00439F !important;
}

.text-light-blue {
	color: #0AA9CC;
}

.purple-bg {
	background: url(../images/bg-purple.png) no-repeat center bottom;
	background-size: cover;
	overflow: hidden;
	color: #fff;

}


.bg-yellow {
	background-color: #FFC945 !important;
}

.bg-blue {
	background-color: #1A0063 !important;
}

.shape-2 {
	background: url(../images/shape-2.png) no-repeat center bottom;
	background-size: contain;
	overflow: hidden;
	color: #fff;
	display: inline-block;
	padding: 10px 60px;
}

.logo-img {
	width: 100%;
	height: 100%;
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.count-box {
	text-align: center;
}

.bonus .card-box {
	margin-bottom: 30px;
}

.row>* {
	margin-bottom: 15px;
}

@media screen and (min-width: 992px) {

	.modal-lg,
	.modal-xl {
		max-width: 750px;
	}
}

.text-skyblue {
	color: #14A6DF;
}

.sec-9 {
	background-color: #000C14;
}

.sec-step {
	background: url(../images/sec-step.png) no-repeat center top;
	background-size: auto;
	background-size: cover;
	overflow: hidden;
	color: #000;
	padding: 60px 0 245px 0;
}

.points-box {
	position: relative;
}

.points-box .points-box-inner {

	background: url(../images/Supercharge.png) no-repeat center bottom;
	background-size: auto;
	background-size: cover;
	overflow: hidden;
	color: #fff;
	padding: 30px;
	border-radius: 20px;
	margin-top: -100px;
}

/* .points-box::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20%;
	background-color: #fff;
	z-index: -1;
  } */

.aiaset-works {
	background: url(../images/aiaset-works.png) no-repeat center bottom;
	background-size: auto;
	background-size: cover;
	overflow: hidden;
	color: #fff;
}

.aiaset-works .card-box-wrapper .card-box-inner .media {
	text-align: center;
	margin-bottom: 20px;
}

.aiaset-works .card-box {

	/* padding: 20px;
	border-radius: 10px; */
	/* background: rgba(14, 67, 187, 0.3); */
	/* border: 3px solid rgba(14, 67, 187, 1);
	height: 100%; */

	text-align: center;
	background: rgba(8, 120, 186, 0.3);
	/* background-color: rgba(255, 255, 255, 0.3); */
	/* border: 1px solid #FFA538; */
	border-radius: 10px;
	padding: 30px;
}

.aiaset-works .card-box-wrapper .card-box .media {
	margin-bottom: 30px;
	margin-top: -110px;
	width: 160px;
	height: 160px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}


/* oto1 */

.welcome .top-content .top-title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.welcome .box {
	margin: 30px 0;
	padding: 10px 40px;
	border-radius: 80px;
	text-align: center;
	display: inline-block;
}


.bg-pink {

	background-color: #FF6969 !important;

}

.list-wrap-wabber {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgb(87, 63, 233, 0.6);
	margin-top: 40px;

	padding: 50px;
	border-width: 2px;
	border-color: rgb(197, 7, 29);
	border-style: dashed;
	border-radius: 20px;
	box-shadow: 0 0 20px 0 rgb(87, 63, 233, 0.6);
	color: #000;
}

.sec-9 .bottom-content p {
	color: rgba(255, 255, 255, 1);
	margin: 20px 0;
}

.sec-9 .box-dashsed {
	border: 2px dashed #FFD600;
	display: inline-block;
	padding: 15px;
	border-radius: 15px;
	background-color: #103C77;
}

.profits .white-box .box-1 {
	background: url(../images/shap-box1.png) no-repeat center;
	background-size: auto;
	background-size: cover;
	padding: 40px 20px;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profits .white-box .box-2 {
	background: url(../images/shap-box2.png) no-repeat center;
	background-size: auto;
	background-size: cover;
	padding: 40px 20px;
	text-align: center;
	width: 100%;
	height: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sec-1 {
	padding: 80px 0;
	background: url(../images/bg-2.png) no-repeat center;
	background-size: cover;
	padding: 80px 0;
	text-align: center;
}

.reason-img1 {
	position: absolute;
	top: -29px;
	left: -46px;
	z-index: 9;
}

.box-wrapper {
	margin: 30px 0;
}

.sec-1 .box-wrapper .box-1 {
	padding: 20px;
	position: relative;
	border-radius: 20px;
	background-color: rgb(255, 137, 137);
}

.sec-1 .box-wrapper .box-1 {
	background-color: #4769E3;
	padding: 10px 15px;
	border-radius: 20px;
	color: #fff;
}

.sec-1 .box-wrapper .box-1,
.box-2 {
	margin-top: 20px;
}

.sec-1 .box-wrapper .box-1 .box-btn,
.box-2 .box-btn {
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	color: #FF2727;
	padding: 10px 50px;
	margin-bottom: 20px;
}

.sec-1 .box-wrapper .box-2 {
	background-color: #D4ECFF;
	padding: 10px 15px;
	border-radius: 20px;
	color: #173D7A;
}

.box-2 .box-btn {
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	color: #FF2727;
	padding: 10px 50px;
	margin-bottom: 20px;
}

/* .profits .white-box {
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgb(87, 63, 233, 0.6);
	margin-top: 40px;
  } */


.section_demo .logo .logo-img {
	width: 100%;
	height: 100%;
	/* max-width: 600px; */
	margin-right: auto;
	margin-left: auto;
}

.sec-3 {
	padding: 80px 0;
	background: url(../images/bg-4.png) no-repeat top center;
	background-size: auto;
	background-size: cover;
}

.sec-3 .list-images-wrapper .list-images {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.sec-3 .title {
	text-align: center;
}

.sec-3 .list-images-wrapper {
	margin-top: 40px;
}

.sec-3 .list-images-wrapper .list-images .media {
	margin-right: 10px;
}

.sec-4 {
	padding: 80px 0;
	/* background: url(../images/impsec4_points.png) no-repeat top center; */
	background-color: #F0FCFF;
	background-size: auto;
	background-size: cover;
	overflow: hidden;
	color: #000;
}

.sec-4 .head-title {
	text-align: center;
}

.sec-4 .card-box .card-box-inner .top-content {
	margin-top: 20px;
}

.sec-4 .card-box .content .top-content {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}


.sec-4 .card-box.box-1 {
	background-color: #fff;
	transform: rotate(3deg);
	box-shadow: 0px 0px 5px #13baff;
	border: 10px solid #f7c3f9;
}

.sec-4 .card-box {
	padding: 80px 0;
	border-radius: 20px;
}

.sec-4 .card-box.box-2 {
	background-color: #fff;
	box-shadow: 0px 0px 5px #13baff;
	transform: rotate(-3deg);
	border: 10px solid #99eea6;
}

.sec-4 .card-box {
	padding: 80px 0;
	border-radius: 20px;
}

@media screen and (max-width: 991px) {
	.sec-4 .card-box.box-2 {
		transform: rotate(0);
		padding: 20px;
	}
}





element {}

@media screen and (max-width: 991px) {
	.sec-4 .card-box.box-1 {

		transform: rotate(0);
		padding: 20px;

	}
}




.red-color {
	color: #f01236;
}

.tool-title {
	border-radius: 10px;
	padding: 10px 30px;
	display: inline-block;
	background: #1373b2;
	box-shadow: 8px 8px #000000;
	color: #fff;
}

.sec-5 {
	padding: 50px 0;
	background: url(../images/aiaset_works.png) no-repeat top center;
	background-size: auto;
	background-size: cover;
	color: #fff;
}

.impossible {

	padding: 50px 0;
	background: url(../images/moneys.png) no-repeat top center;
	background-size: auto;
	background-size: cover;
	color: #fff;
}

.bonus-title {
	border-radius: 15px;
	background-color: rgb(207, 29, 29);
	box-shadow: 0px 0px 24px 0px rgba(255, 26, 26, 0.3);
	display: inline-block;
	padding: 15px 30px;
	text-shadow: 0.105px 2.998px 3px rgba(97, 10, 10, 0.25);
	background: linear-gradient(to bottom, #04E4F8 0%, #405ddf 100%);
}

.sec-5 .text-head {

	text-align: center;
}

.sec-5 .bottom-content .light-blue-box {
	background-color: #A1FFFF;
	color: #173D7A;
	display: inline-block;
	padding: 20px 50px;
	border-radius: 50px;
	margin-bottom: 30px;
}

.sec-5 .bottom-content {
	text-align: center;
	margin-top: 60px;
}

.sec-5 .text-head .light-blue-box1 {
	background-color: #baa1ff;
	color: #173D7A;
	display: inline-block;
	padding: 20px 50px;
	border-radius: 50px;
	margin-bottom: 30px;
}

.sec-7 .card-box-wrapper {
	background-color: #fff;
	color: #000;
	padding: 30px;
	text-align: start;
	margin-bottom: 30px;
	margin-top: 50px;
	border: 1px solid #d3c2fd;
	border-radius: 30px;
	border-width: 10px;
	margin-bottom: 50px;
	background-color: #fefefe;
	box-shadow: 3px 10px 41px -14px rgba(0, 0, 0, 0.69);
}

.sec-7 {
	background-color: #fff;
	color: #000;
	padding: 80px 0;
	text-align: center;
}

.sec-7 .card-box-wrapper ul li {
	list-style: none;
}

.sec-7 .card-box-wrapper ul li .card-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sec-7 .card-box-wrapper .card-box {
	padding: 0 50px;
}

.sec-7 .card-box-wrapper ul li .card-box .box-btn-green {
	color: #fff;
	background-color: #24B833;
	padding: 10px 20px;
	border-radius: 20px;
}

.sec-7 .card-box-wrapper ul li .card-box p {
	font-weight: 700;
}

.sec-8 {
	background: url(../images/generator8.png) no-repeat center left;
	/* background-color: #00d8ff; */
	background-size: auto;
	background-size: cover;
	/* padding: 80px 0; */
	text-align: center;
	color: #000;
}

.head-title {
	text-align: center;
	margin-bottom: 30px;
}


a.yes-btn:hover {
	background-color: rgb(62, 236, 52);
}

a.yes-btn {
	border-radius: 15px;
	background-color: rgb(9, 161, 0);
	display: block;
	padding: 25px;
	text-decoration: none;
	color: #ffffff;
}

/* a.yes-btn {
	border-radius: 15px;
	background-color: rgb(52, 174, 40);
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #ffffff;
  }   */

a.nothanks-btn:hover {
	background-color: rgb(197, 23, 23);
}

a.nothanks-btn {
	border-radius: 15px;
	background-color: rgb(255, 0, 0);
	display: block;
	padding: 25px 0px;
	text-decoration: none;
	color: #ffffff;
}

/* a.nothanks-btn {
	border-radius: 15px;
	background-color: #ff5151;
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #ffffff;
  } */



.section-third .recap {
	background-color: #fefefe;
	box-shadow: 3px 10px 41px -14px rgba(0, 0, 0, 0.69);
	padding: 30px 10px;
	border: 1px solid #d3c2fd;

	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 30px;
	border-width: 10px;
	margin-bottom: 50px;
}

.section-third ul li {
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	background-size: 30px;
	padding-left: 45px;
	padding-bottom: 10px;
	/* padding-top: 1px; */
	font-weight: 400;
	list-style-type: none;
	color: #000;
}


@media (min-width: 768px) {
	.tool-shape {
		padding: 30px 60px;
	}
}

.tool-shape1 {
	background: url(../images/tool-shape1.png) no-repeat center center;
	background-size: auto;
	background-size: contain;
	display: inline-flex;
	padding: 30px;
}

.software-shape {
	background: url(../images/software-shape.png) no-repeat center center;
	background-size: auto;
	background-size: 100% 100%;
    padding: 5px 14px;
	position: relative;
	align-items: center;
}

.solution_timer {



	background: url(../images/solution_timer.png) no-repeat center;
	background-size: auto;
	background-size: cover;
	overflow: hidden;
	color: #fff;
	background-position: center center;
}

.step-section {

	background: url(../images/step-section.png) no-repeat center;
	background-size: auto;
	background-size: cover;
	overflow: hidden;
	color: #fff;
	background-position: center center;
}

/* ///////////////// */


.listing-block {
	background: url(../images/listing-block.png) no-repeat center center;
	background-size: auto;
	background-size: cover;
}

@media (min-width: 992px) {
	.row-cols-md-3>* {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
}


@media (min-width: 768px) {

	.listing-block-wrap {
		padding: 200px 0px 0px 0px;
		margin-top: -130px;
	}
}

@media (max-width: 400px) {


	.welcome .top-content .top-title img {
		display: none;

	}
}

.point-lists {
	display: flex;
	flex-wrap: nowrap;
	gap: 25px;
}

.listing-block-wrap {
	padding: 20px 0px 0px 0px;
	/* margin-top: -500px; */
	border-radius: 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 30px 0px rgba(6, 24, 53, 0.3);
	overflow: hidden;

	border-width: 2px;
	border-color: rgb(197, 7, 29);
	border-style: dashed;
	border-radius: 20px;
	/* box-shadow: 0 0 20px 0 rgb(87, 63, 233, 0.6); */
	color: #000;
}



.orenge_color {
	color: rgb(255, 169, 1);
}

@media (min-width: 768px) {
	.list-wrap-padding {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.list-wrap-padding {
	padding-left: 20px;
	padding-right: 20px;
}

@media (min-width: 768px) {}

.post-headline {
	background: url(../images/postheadline.png) no-repeat center center;
	background-size: auto;
	background-size: 100% 100%;
	padding: 20px;
	display: inline-block;
}





@media (min-width: 768px) {
	.post-headline {
		padding: 14px 60px !important;
		padding: 40px 60px 30px 60px !important;
	}

	.software-section {
		padding: 100px 0px;
	}
}



.software-section {

	background: url(../images/software-bg.png) no-repeat center center / cover;
}

.data-block {
	border-width: 1px;
	border-color: rgba(31, 244, 0, 0.45);
	border-style: solid;
	border-radius: 30px;
	background-color: #e0ffd5;
	box-shadow: 0px 0px 40px 0px rgba(170, 153, 250, 0.3);
	box-shadow: 0px 0px 34px 0px rgba(135, 111, 248, 0.3);
	padding: 20px;
}

.data-block1 {
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: linear-gradient(to bottom, #e0e3e8 0%, #fff 100%);
	border-bottom: 10px solid #dee1e5;
	/* border: 1px solid #d2e1fb; */
	border-radius: 50px;
}

.solution-block {
	padding: 30px;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	display: flex;
}




@media (min-width: 768px) {
	.data-block {
		padding: 50px;
	}
}
.sec-55{
	padding: 50px 0 50px 0;
	position: relative;
	background: url(../images/step-section.png) no-repeat center 0;
	background-size: auto;
	background-size: cover;
}
.sec-22 {

	padding: 80px 0 0px;
	position: relative;
	background: url(../images/step-section.png) no-repeat center 0;
	background-size: auto;
	background-size: cover;
}

.sec-22 .shape-5-holder {
	margin: 0 auto;
	padding: 23px 0 45px;
	background: url(../images/shape_6.html) no-repeat;
	color: #00a8e9;
	font-weight: bold;
	line-height: 84px;
	text-align: center;
}

@media (min-width: 768px) {
	.font-md65 {
		font-size: 65px;
	}
}


@media (min-width: 992px) {
	.intro2 {
		padding: 15px 8px 15px 0;
		font-size: 40px;
		background-color: #8d6cf9;
		border-radius: 65px;
	}
}

.sec-2 {
	padding: 50px 0 50px 0;
	position: relative;
	z-index: 304;
	background: url(../images/convert_box.png) no-repeat center 0;
	background-size: auto;
	background-size: cover;

	color: #fff;
}

.sec-50 {
	background: url(../images/bg-50.html) no-repeat center;
	background-size: auto;
	background-size: cover;
	text-align: center;
	padding: 50px 0;
}

.sec-50 .title {
	text-align: center;
}

.sec-50 .card-box-wrapper {
	margin-top: 50px;
}

.sec-50 .card-box {
	color: #fff;
	background-color: var(--primary);
	text-align: center;
	padding: 60px 0;
	border-radius: 30px;
	transform: rotate(355deg);
	margin-top: 50px;
}

.sec-61 {
	padding: 102px 0 123px;
	position: relative;
	z-index: 111;
	background: url(../images/rectangle_15.html) no-repeat center 0;
	background-size: auto;
	background-size: cover;
}

/* step-wrap */
@media (min-width: 768px) {
	.step-wrap {
		padding: 0px 40px 40px 40px;
		top: -28px;
	}
}

@media screen and (min-width: 992px) {
	.moneys .title {
		text-align: center;
		/* background: url(../images/advantage.png) no-repeat center top; */
		background-color: rgb(253, 177, 39);
		padding: 20px;
		border-radius: 0 0 30px 30px;
		color: #ffff;
		font-weight: 600;
		/* margin-top: -80px; */
		margin-bottom: 30px;
	}
}


@media screen and (max-width: 991px) {
	.moneys .title {
		text-align: center;
		background-color: rgb(253, 177, 39);
		box-shadow: 0px 0px 15px 0px rgba(6, 24, 53, 0.1);
		padding: 20px;
		border-radius: 0 0 30px 30px;
		color: #ffff;
		font-weight: 600;
		/* margin-top: -80px; */
		margin-bottom: 30px;
	}
}

@media (min-width: 768px) {
	.carefull-section1 {
		padding: 100px 0px;
		background: #ffffff url(../images/texeaa.png) no-repeat center center;
		background-size: auto;
		background-size: cover;
	}
}
.section101 {
	background-image: url(../images/banner-bg102.png);
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background: -webkit-repeating-linear-gradient;
	background-attachment: fixed;
	background-size: cover;
  }
.content-higlight {
	padding: 40px 50px 30px 50px;
}

.content-higlight {
	background: url(../images/content-higlight.png) no-repeat center center;
	background-size: auto;
	background-size: auto;
	background-size: 100% 100%;
	display: inline-block;
	/* padding: 30px 15px 15px 15px; */
}

.step-wrap {
	border-radius: 15px;
	/* background-color: rgb(255, 255, 255); */
	background-color: #1d1067;
	box-shadow: 0px 0px 15px 0px rgba(23, 52, 174, 0.2);
	padding: 0px 30px 30px 30px;
	margin-top: 28px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	height: calc(100% - 28px);
	color: #fff;
}

.step-block {
	background-image: -moz-linear-gradient(90deg, rgb(255, 53, 125) 0%, rgb(255, 111, 51) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(255, 53, 125) 0%, rgb(255, 111, 51) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(255, 53, 125) 0%, rgb(255, 111, 51) 100%);
	border-radius: 70px;
	padding: 15px 30px;
	display: inline-block;
	top: -22px;
	position: relative;
}

/* step-wrap  end*/

.custom-button {
    display: block;
    margin: auto;
    margin-top: auto;
    text-align: center;
    background: linear-gradient(to right, #0075ef, #3fe6cc);
    background-image: -webkit-linear-gradient(0deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%);
    color: #000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 750px;
    line-height: 1.3;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 100px;
    box-shadow: 3px 10px 41px -14px rgba(0, 0, 0, 0.69);
    border-width: 3px;
    border-style: solid;
    border-color: rgb(244, 136, 9);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background: linear-gradient(to left, #ff0500, #ff8400);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    /* background-image: linear-gradient(to bottom right, rgb(253, 121, 0) 0%, rgb(255, 240, 0) 100%); */
}

.custom-button:hover {
    /* background-image: -webkit-linear-gradient(180deg, rgb(253, 100, 79) 0%, rgb(253, 100, 79) 27%, rgba(255, 163, 78, 0.99608) 100%); */
    background: linear-gradient(to left, #ff0500, #ff8400);
    transition: 0.5s;
}
#countdown2 {
	background-color: #ffeb04;
  }
  #countdown3 {
    background-color: #a3baf2;
  }

  @media (max-width: 767px) {
	.custom-button {
	  font-size: 21px;
	  padding: 10px;
	  padding-right: 10px;
	  padding-left: 10px;
	  padding-right: 50px;
	  padding-left: 50px;
	}
	.software-shape {
	/* background-image: none;
	background-color: #0061FE; */
		  background-size: auto;
		background-size: auto;
		background-size: 100% 100%;
		display: inline-flex;
		padding: 15px 15px;
		position: relative;
		align-items: center;
	  }
	  .software-section{
		padding: 50px 0 0 0 ;
	  }
  }